{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Digital communication with colleagues' %}
            <a href="{% url 'practices:communication-digital-colleagues-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ practice|verbose:"communication_type_with_colleagues" }}</th>
                <td class="text-end">
                    {{ practice.get_communication_type_with_colleagues_display }}
                </td>
            </tr>
            <tr>
                {% include 'practices/communication/with_colleagues/part_digital.html' %}
            </tr>
            </tbody>
        </table>
    </div>
</div>