{% load i18n %}
{% load safe_urlize %}

<div id="entry-{{ process.id }}">
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="width: 5%">{% trans 'Step #' %}</th>
                <th style="width: 15%">{% trans 'Name' %}</th>
                <th style="width: 25%">{% trans 'Description' %}</th>
                <th style="width: 5%">{% trans 'Done' %}</th>
                <th style="width: 8%">{% trans 'at' %}</th>
                <th style="width: 8%">{% trans 'by' %}</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for step in process.steps %}
            <tr>
                <td>{{ step.step_definition.position_index }}</td>
                <td>{{ step.step_definition.name }}</td>
                <td>
                {% if step.step_definition.description|length < 255 %}
                    {{ step.step_definition.description|safe_urlize }}
                {% else %}
                    {% url 'processes:step-definition-detail' step.step_definition.id as detail_url %}
                    <a href="{{detail_url}}" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i></a>
                {% endif %}
                </td>
                <td>
                    {% if step.is_done %}
                    <i class="fa fa-check-circle text-success"></i>
                    {% else %}
                    <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
                <td>
                    {% if step.is_done %}
                    {{ step.done_at|date:"SHORT_DATE_FORMAT" }}
                    <a href="{% url 'processes:step-edit-date' step.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if step.is_done and step.done_by %}
                    {{ step.done_by.full_name }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <span class="float-end">
                        {% if step.is_done %}
                        {% include 'processes/buttons/step_reset.html' %}
                        {% else %}
                        {% include 'processes/buttons/step_mark_as_done.html' %}
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block custom_script %}
{% include "global/snippets/htmx_post_script.html" %}
{% endblock %}