{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block practice-content %}
<h3 class="display-6">
    {% trans 'Processes' %}
    <a href="{% url 'practices:process-participation-create' practice.id %}">
        <i class="fa fa-plus-circle"></i>
    </a>
</h3>
{% for process in object_list %}

<table class="table table-sm table-borderless">
    <tbody>
        <tr class="table-primary">
            <td class="px-2">
                <span>
                    {% if process.is_due %}
                    <i class="fa-solid fa-circle-exclamation text-danger"></i>
                    {% endif %}

                    {% trans 'Instance' %} #{{ process.id }}: 
                    <strong>{{ process.process_definition.name }}</strong>
                    {% if process.deadline %}
                    ({% trans "Deadline" %}: {{ process.deadline }})
                    {% endif %}
                </span>
                <span class="float-end">
                    {% trans 'Created at' %} {{ process.created_at }} {% trans 'by' %} {{ process.created_by }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm">
                        <span class="float-end">
                            <a href="{% url 'processes:process-edit-deadline' process.id %}"
                                class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-edit"></i> 
                                {% if process.deadline %}
                                {% trans "Edit deadline" %}
                                {% else %}
                                {% trans "Set deadline" %}
                                {% endif %}
                            </a>
                            <a href="{% url 'processes:process-instances' process.process_definition.id %}"
                                class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-info-circle"></i> {% trans 'Process Details' %}
                            </a>
                            <a href="{% url 'processes:process-delete' process.id %}"
                                class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash"></i> {% trans 'Delete Instance' %}
                            </a>
                        </span>
                        <button class="btn btn-sm btn-outline-primary" role="button" data-bs-toggle="collapse"
                            href="#toogle-{{ process.id }}" aria-expanded="false"
                            aria-controls="toogle-{{ process.id }}">{% trans 'Show/Hide steps' %}
                        </button>
                        <div class="collapse content" id="toogle-{{ process.id }}">
                            {% include 'practices/processes/process_step_table.html' %}
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endfor %}

{% include 'global/snippets/pagination.html' %}

{% endblock %}

{% block side_bar_right %}
<ul class="nav flex-column w-100">
</ul>
{% endblock %}