{% extends 'global/base.html' %}
{% load i18n %}
{% load number_of_drafts %}

{% block side_bar %}
<ul class="nav flex-column w-100">
    {% block side_bar_top %}
    {% endblock %}
    
    {% url 'mail:emailtemplate-list' as templates_url %}
    {% url 'mail:textmodule-list' as create_text_module_url %}
    {% url 'mail:emailobject-draft-list' as draft_url %}
    {% url 'mail:emailobject-list' as send_mail_url %}
    
    <div class="d-flex flex-column align-items-end">
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if 'emailtemplates' in request.path %} active {% endif %}" href="{{ templates_url }}">
            <i class="fa-regular fa-envelope"></i> {% trans 'Templates' %}
        </a>
        <a class="btn btn-outline-primary w-75 mt-1 text-start  {% if 'textmodules' in request.path %} active {% endif %}" href="{{ create_text_module_url }}">
            {% trans 'Text modules' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start d-flex {% if 'emailobjects' in request.path and 'send-email' not in request.path and send_mail_url != request.path%} active {% endif %}" href="{{ draft_url }}">
            <div><i class="fa-solid fa-envelope"></i> {% trans 'Drafts' %}</div> <span class="ms-auto me-1">[{{ request.user|number_of_drafts }}]</span>
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if 'send-email' in request.path or send_mail_url == request.path %} active {% endif %}" href="{{ send_mail_url }}">
            <i class="fa-solid fa-paper-plane"></i> {% trans 'Sent emails' %}
        </a>
    </div>
      

    {% block side_bar_bottom %}
    {% endblock %}
</ul>
{% endblock %}