{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}
{% load fields_verbose_name %}

{% block page_content %}
<div class="col-sm mb-3">
    <h2>{{ email_object.author }}: {{ email_object.subject }}</h2>
</div>
<table class="table table-sm table-hover">
    <tbody>
        <tr>
            <td>{{ email_object|verbose:"reply_to" }}</td>
            <td class="text-end">{{ email_object.reply_to }}</td>
        </tr>
        <tr>
            <td>{{ email_object|verbose:"from_email" }}</td>
            <td class="text-end">{{ email_object.from_email }}</td>
        </tr>
        <tr>
            <td>{{ email_object|verbose:"subject" }}</td>
            <td class="text-end">{{ email_object.subject }}</td>
        </tr>
        <tr>
            <td>{{ email_object|verbose:"event" }}</td>
            <td class="text-end">{% if email_object.event %}{{ email_object.event }}{% else %}-{% endif %}</td> 
        </tr>
    </tbody>
</table>
<strong>{% trans 'Context message' %}:</strong><p>{{ email_object.context_message|safe }}</p>
<hr class="solid">
{% include 'mails/snippets/email_object_attachements.html' %}
{% if email_object.emailattachement_set.all.count > 0 %}
<hr class="solid">
{% endif %}
<div class="row">
    <div class="col-sm mb-3">
        {% csrf_token %}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
    </div>
</div>
{% endblock %}