{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}

{% block side_bar_top %}
{% include 'mails/snippets/email_object_sidebar.html' %}
{% endblock %}

{% block page_content %}
<div class="col-sm mb-3">
    <h3>
        {% trans 'Subject' %}: {{ email_object.subject }}
    </h3>
</div>
<hr class="solid">
<strong>{% trans 'Context message' %}:</strong><p>{{ recipient.received_email_message|safe }}</p>
<hr class="solid">

{% include 'mails/snippets/email_object_attachements.html' %}

{% if email_object.emailattachement_set.all|length > 0 %}
<hr class="solid">
{% endif %}
<div class="row">
    <div class="col-sm mb-3">
        {% csrf_token %}
        <a class="btn btn-primary" href="{% url 'mail:emailobject-send-recipients' email_object.id %}">{% trans 'Back' %}</a>
    </div>
</div>
{% endblock %}