{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Information' %}
            <a href="{% url 'practices:edit-info' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <p class="card-text">
            <address>
                {% include 'practices/snippets/practice_address_min.html' %}
            </address>
            {% include 'practices/snippets/practice_address_county_state.html' %}<br>
            <strong>{% trans 'Type of site' %}:</strong> {{ practice.get_type_display }}<br>
            <strong>{% trans 'BSNR' %}:</strong> {{ practice.identification_number|default:"-" }}<br>
            <strong>{% trans 'Number of sites' %}:</strong> {{ practice.number_of_sites }}<br>
            <br>

            <strong>{% trans 'Responsible institute' %}:</strong><br>
            {{ practice.assigned_institute.organisation }}<br>
            {{ practice.assigned_institute.name }}<br>
            {% if practice.import_id %}
            <strong>{% trans 'Practice ID given by the institute' %}:</strong> {{ practice.import_id|default:"-" }} <br>
            {% endif %}
            {% if practice.questionnaire_date %}
            <strong>{% trans 'Questionnaire date' %}:</strong> {{ practice.questionnaire_date|date:"d.m.Y"}} <br>
            {% endif %}
            <br>

            <strong>{% trans 'Tags' %}: </strong>
            
            {% if practice.tags.exists %}
                <br>
                {% for tag in practice.tags.all %}
                    <span class="badge bg-primary">{{ tag }}</span>
                {% endfor %}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>