{% load i18n %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Contact Times' %}
            <a href="{% url 'practices:edit-opening-hours' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        {% with practice.contact_times_ordered as contact_timeslots %}
            {% include 'contacttimes/_contacttimes_table.html' %}
        {% endwith %}
    </div>
</div>