{% load i18n %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Owners' %}
{#            <a href="{% url 'practice-owner-create' practice.id %}" id="id_add_new_owner_button">#}
{#                <i class="fa fa-plus-circle"></i>#}
{#            </a>#}
        </h5>
        <p class="card-text">
            {% if practice.owners %}
                <table class="table table-sm table-hover">
                <tbody>
                {% for owner in practice.owners %}
                    <tr>
                        <td>
                        <span>
                            {{ owner.get_form_of_address_gender_display }}
                            {% if owner.title %}{{ owner.title }}{% endif %}
                            {% if owner.get_letter_title_display %} {{ owner.get_letter_title_display }} {% endif %}
                            {{ owner.first_name }} {{ owner.last_name }}
                        </span>
{#                            <span class="float-end">#}
{#                                <a href="{% url 'practice-owner-edit' owner.id %}"#}
{#                                   class="btn btn-sm btn-outline-primary text-nowrap">#}
{#                                    <i class="fas fa-edit"></i> {% trans 'Edit' %}#}
{#                                </a>#}
{#                                <a href="{% url 'practice-owner-delete' owner.id %}"#}
{#                                   class="btn btn-sm btn-outline-danger text-nowrap">#}
{#                                    <i class="fa fa-trash"></i> {% trans 'Delete' %}#}
{#                                </a>#}
{#                            </span>#}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% trans 'No owners entered yet.' %}
            {% endif %}
            </tbody>
            </table>
        </p>
    </div>
</div>