{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Änderungen im Praxisregister zu Version 0.1.4</h1>
<p>Letztes Update des Dokuments: 25.01.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">Reihenfolge der seitlichen Navigationsleiste</h2>
    <p>Die Navigationsleiste innerhalb der Praxis wurde nach einer für den Benutzer sinnvollen Reihenfolge geordnet.</p>
    <img src="{% static 'changelogs/images/sidebar-structure.png' %}" alt="image:sidebar"
        style="border: 3px solid #0d6efd;">
    <p></p>
    <hr>
    <h2 class="blog-post-title">Filterfunktionen</h2>
    <p></p>
    <p>Neue Filterfunktionen der Praxen nach:</p>
    <ul>
        <li>Akkreditierung und Vertragsabschluss</li>
        <li>Bestehenden Prozessen innerhalb der Praxen</li>
        <li>Studienspezifischen Fortbildungen</li>
        <li>Aktiv/inaktiv</li>
    </ul>
    <img src="{% static 'changelogs/images/practicefilter.png' %}" alt="image:Filterfunctions"
        style="border: 3px solid #0d6efd;" width="100%">
    <hr>
    <h2 class="blog-post-title">Prozesse innerhalb einer Praxis</h2>
    <p></p>
    <p>Bestehende Prozesse können nun innerhalb der Praxis hinzugefügt werden. Die Einzelschritte können für eine
        bessere
        Gesamtübersicht ein- und ausgeblendet werden.</p>
    <img src="{% static 'changelogs/images/practice-processes.png' %}" alt="image:sidebar"
        style="border: 3px solid #0d6efd;">
    <hr>
    <h2 class="blog-post-title">Navigation innerhalb der Bearbeitungsformulare einer Praxis</h2>
    <p></p>
    <p>Werden die Daten einer Praxis verändert, so kann nun eine seitliche Navigationsleiste zum schnelleren Wechsel
        zwischen den Formularen genutzt werden.</p>
    <img src="{% static 'changelogs/images/navbar-edit-practice.png' %}" alt="image:navbar"
        style="border: 3px solid #0d6efd;">
    <hr>
    <h2 class="blog-post-title">Sonstige Anpassungen</h2>
    <ul>
        <li>Ergänzung fehlender Übersetzungen.</li>
        <li>Ein Vertrag benötigt nun zusätzlich ein Datum der Vertragsunterzeichnung.</li>
        <li>Kontaktnotizen können gelöscht werden.</li>
        <li>Innerhalb der Strukturdaten wurde das Feld <strong>Engagement</strong> zu <strong>Weitere Funktion/Rolle der
                Praxis</strong> umbenannt. Des Weiteren wurden die vordefinierten Rollen angepasst.</li>
        <li>Die Teilnahme von Praxen an Studien ist nicht mehr Institutübergreifend, sondern nur noch für den eigenen
            Standort einsehbar.</li>
        <li>Praxen können den Status aktiv/inaktiv erhalten.</li>
        <li>Ein Benutzerfeedback erfolgt nach dem Speichern von Praxisdaten.</li>
        <li>Die Auswahl des Landkreises ist nicht mehr ausschließlich auf Landkreise innerhalb von Baden-Württemberg
            beschränkt.</li>
        <li>Der Export von Praxen und Personen wurde in einen extra Reiter in der Navigationsleiste verlagert.</li>
    </ul>
    <hr>
</article>
{% include 'changelogs/changelog_pagination.html' with v0_1_4="active" %}
<p></p>
{% endblock %}