<nav aria-label="changelog navigation">
  <h5>Weitere Versionsänderungen:</h5>
  <ul class="pagination pagination-lg">
    <div></div>
    <li class="page-item {{ v0_7_0 }}"><a class="page-link" href="{% url 'changelogs:latest-changelog' %}">1</a></li>
    <li class="page-item {{ v0_6_0 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.6.0' %}">2</a></li>
    <li class="page-item {{ v0_4_0 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.4.0' %}">3</a></li>
    <li class="page-item {{ v0_3_0 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.3.0' %}">4</a></li>
    <li class="page-item {{ v0_2_2 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.2.2' %}">5</a></li>
    <li class="page-item {{ v0_2_1 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.2.1' %}">6</a></li>
    <li class="page-item {{ v0_1_4 }}"><a class="page-link" href="{% url 'changelogs:changelog-v0.1.4' %}">7</a></li>
  </ul>
  <a href="#" class="btn btn-primary" role="button">Zum Anfang</a>
</nav>