{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Aktuelle Änderungen des Praxisregisters</h1>



<p>Letztes Update der Seite: 27.02.25 </p>
<article class="blog-post">
    <p>Version: 0.7.11</p>
    <h2 class="blog-post-title">Studien</h2>
    <p>
        Praxen und Personen können nun zu Studien hinzugefügt werden.
        Informationen zu deren Anmeldestatus und Teilnahme kann im System dokumentiert werden.
    </p>

    <h2 class="blog-post-title">Importer</h2>
    <ul>
        <li>Der Importer wurde weiter optimiert.</li>
        <li>Weitere Modelle wurden zum Datenbankimporter hinzugefügt.</li>
        <li>Mehrere kritische Fehlerbehebungen wurden umgesetzt.</li>
    </ul>

    <h2 class="blog-post-title">Prozesse</h2>
    <ul>
        <li>Es wird nun dokumentiert, welcher Nutzer einen Prozessschritt als erledigt markiert hat.</li>
        <li>UI-Verbesserungen wie horizontal scrollbare Tabellen bei großen Prozessen oder Einbettung von Links in Prozessschritte.</li>
        <li>Verschiedene Fehlerbehebungen.</li>
    </ul>

    <hr>
    <p>Änderungen vor dem: 27.02.25</p>
    <p>Version: 0.7.10</p>
    <h2 class="blog-post-title">Filterung</h2>
    <ul>
        <li>Praxen können nun nach verfügbarem Kontaktmedium (z.B. Email) gefiltert werden</li>
        <li>Veranstaltungsteilnehmer*innen können nun nach Antwortstatus (Bestätigt, Abgelehnt, Ausstehend) gefiltert werden.</li>
    </ul>

    <h2 class="blog-post-title">Email</h2>
    <p>
        Serienemails werden nun von einer vorkonfigurierten PRM-Emailadresse gesendet.
        Es kann beim Versenden der Serienemail angegeben werden, an welche Emailadresse Antworten gesendet werden sollen.
    </p>

    <h2 class="blog-post-title">Weiteres</h2>
    <ul>
        <li>Die Akkreditierungschecklisten werden nun direkt im Praxisbereich angezeigt, wenn man auf „Akkreditierung“ klickt.</li>
        <li>Im Rückmeldungsbereich wird nun angezeigt, wer die Rückmeldung geschickt hat.</li>
        <li>Diverse Fehlerbehebungen</li>
    </ul>

    <hr>
    <p>Änderungen vor dem: 04.03.24</p>
    <p>Version: 0.7.9</p>
    <ul>
        <li>Die Nutzerdokumentation des Praxisregisters ist über das Fragezeichen, ganz rechts in der Hauptnavigationsleiste, zu erreichen.</li>
    </ul>
    <hr>
    <p>Änderungen vor dem: 21.02.24 </p>
    <p>Version: 0.7.7</p>
    <h2 class="blog-post-title">Import</h2>
    <ul>
        <li>Update des Texteditors in E-mail und Feedback</li>
        <li>Einem Prozess kann nun eine Frist hinzugefügt werden</li>
    </ul>
    <hr>
    <p>Änderungen vor dem: 05.02.24 </p>
    <p>Version: 0.7.4</p>
    <h2 class="blog-post-title">Import</h2>
    <ul>
        <li>Die Ansicht des Importers wurde überarbeitet.</li>
        <li>Anstatt ein ganzes Dokument auf einmal können nun auch Datesätze mit konfigurierbarer Größe importiert werden. <br>
        Dies bedeuted ein Dokument mit 100 Einträgen kann z.B. in 4 Teilen mit jeweils 25 Einträgen importiert werden.</li>
        <li>Ein Import für die Daten der Kassenärztlichen Bundesvereinigung wurde hinzugefügt.</li>
    </ul>
    <hr>
    <p>Änderungen vor dem: 18.12.23 </p>
    <p>Version: 0.7.2</p>
    <h2 class="blog-post-title">Akkreditierung</h2>
    <ul>
        <li>Veranstaltungen können nun als Akkreditierungsvorraussetzung ausgewählt werden. <br>
        Dies kann über die Akkreditierungscheckliste gemacht werden.<br>
        Innerhalb einer Praxis auf Akkreditierung -> Akkreditierungstyp hinzufügen -> Akkreditierungscheckliste bearbeiten</li>
        <img class="mt-3" src="{% static 'changelogs/images/veranstaltungsvoraussetzung.PNG' %}" alt="image:invitation"
        style="border: 3px solid #0d6efd; max-height: 40%; max-width: 40%;">
    </ul>
    <hr>

    <p>Änderungen vor dem: 27.11.23 </p>
    <p>Version: 0.7.1</p>
    <h2 class="blog-post-title">Feedback</h2>
    <ul>
        <li>Übersichtlichere Gestaltung</li>
        <li>Der Abschnitt Rückmeldung wurde überarbeitet. Es kann nun mehrfach geanwortet werden.</li>
        <li>Eine Übersicht mit bekannten Anliegen wurde hinzugefügt.</li>
    </ul>
    <hr>

    <p>Änderungen vor dem: 23.11.23 </p>
    <p>Version: 0.7.1</p>
    <h2 class="blog-post-title">Praxen</h2>
    <ul>
        <li>Unter Stammdaten -> Information können einer Praxis nun Schlagworte/Tags vergeben werden. Nach diesen kann auch in der Filterfunktion gesucht werden.</li>
    </ul>
    <img src="{% static 'changelogs/images/schlagworte-praxis.PNG' %}" alt="image:invitation"
    style="border: 3px solid #0d6efd; max-height: 40%; max-width: 40%;">
    <h2 class="blog-post-title">Akkreditierung</h2>
    <ul>
        <li>Der Upload eines Vertragsdokument ist nicht mehr zwingend erforderlich.</li>
    </ul>
    <hr>

    <p>Änderungen vor dem: 21.11.23</p>
    <p>Version: 0.7.0</p>
    <p><strong>Aus technischer Sicht wurden in diesem Update große Änderungen vorgenommen. Die Datenbank und viele andere kleinere Module wurden aktualisiert. Sollten wider Erwarten Fehler auftreten, bitte ich um Rückmeldung :)</strong></p>
    <h2 class="blog-post-title">Allgemein</h2>
    <ul>
        <li>Die Hauptnavigationsleiste wurde nochmals etwas angepasst. Unter Organisation sind nun auch die Unterreiter Studien und Organisation.</li>
        <li>In der Vorgängerversion gab es Probleme mit dem Löschen von Personen. Das ist in dieser Version behoben.</li>
    </ul>
    
</article>
{% include 'changelogs/changelog_pagination.html' with v0_7_0="active" %}
<p></p>
{% endblock %}