{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Änderungen im Praxisregister zu Version 0.2.2</h1>
<p>Letztes Update des Dokuments: 16.03.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">Personen</h2>
    <ul>
        <li>Es können nun Personen ohne die Zugehörigkeit zu einer Praxis erstellt werden. Dies ist über den Personenreiter in der Hauptleiste möglich.</li>
    </ul>
    <h2 class="blog-post-title">Veranstaltungen</h2>
    <ul>
        <li>Filterfunktion mit Datum erweitert</li>
        <li>Die Teilnahmestatus "eingladen", "registriert" und "teilgenommen" können nun für alle Teilnehmer gleichzeitig durchgeführt werden</li>
        <li>Es können Personen ohne Praxis hinzugefügt werden</li>
    </ul>
    <hr>
    <h2 class="blog-post-title">Benutzerfreundlichkeit</h2>
    <ul>
        <li>Seitliche Navigationselemente innerhalb einer Praxis werden bei Benutzung als "aktiv" angezeigt.</li>
        <li>Die Formulare innerhalb einer Praxis haben nun einen "speichern und weiter" Button, der direkt zum nächsten Formular navigiert.</li>
    </ul>
    <img src="{% static 'changelogs/images/sidebar-active.png' %}" alt="image:sidebar"
    style="border: 3px solid #0d6efd;">
    <hr>
    <h2 class="blog-post-title">Sonstige Anpassungen</h2>
    <ul>
        <li>Übersetzung der Rollen (Arzt, MFA, Tandem)</li>
    </ul>
    <hr>
</article>
{% include 'changelogs/changelog_pagination.html' with v0_2_2="active" %}
<p></p>
{% endblock %}