{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Änderungen im Praxisregister zu Version 0.2.1</h1>
<p>Letztes Update des Dokuments: 07.03.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">Veranstaltungen</h2>
    <ul>
        <li>Filterfunktionen für Verantstaltungen.</li>
        <li>Neue Eingabefelder bei der Erstellung von Veranstaltungen.</li>
        <li>Überarbeitung der Eingabefelder einer Veranstaltung.</li>
        <li>Zusätzliche Datumsfelder für die Veranstaltung.</li>
        <li>Einer Veranstaltungen können einzelne Teilnehmer hinzugefügt werden.</li>
    </ul>
    <hr>
    <h2 class="blog-post-title">Benachrichtigung bei zugewiesenem ToDo</h2>
    <p></p>
    <p>Die Todos wurden überarbeitet, so dass eine Zuweisung eines Todos an mehere Personen möglich ist. Beim Erhalt
        eines neuen Todos wird der Benutzer darüber in Form einer Glocke, neben seinem Profil, benachrichtigt.</p>
    <img src="{% static 'changelogs/images/main-navbar-bell.png' %}" alt="image:main-navbar-bell"
        style="border: 3px solid #0d6efd;">
    <hr>
    <h2 class="blog-post-title">Sonstige Anpassungen</h2>
    <ul>
        <li>Filterfunktionen in der Praxisübersicht können ein- und ausgeblendet werden.</li>
        <li>Praxen, Studien, Veranstaltungen und Prozesse werden vereinheitlicht über das <i class="fa fa-plus-circle"></i> hinzugefügt.</li>
    </ul>
    <hr>
</article>
{% include 'changelogs/changelog_pagination.html' with v0_2_1="active" %}
<p></p>
{% endblock %}