{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Aktuelle Änderungen des Praxisregisters</h1>
<p>Letztes Update des Dokuments: 16.10.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">Allgemein</h2>
    <ul>
        <li>Personentabelle wird nach Aktualität sortiert</li>
        <li>Eingabe für Landkreise verallgemeinert</li>
        <li>Anredefeld für die Email hinzugefügt</li>
        <li>Anzeigefehler behoben</li>
    </ul>
<hr>
<p>Nachfolgend Änderungen vom: 04.10.23 </p>
<article class="blog-post">
    <h2 class="blog-post-title">Prozesse</h2>
    <ul>
        <li>Die Beschreibung bei Prozesse wurde angepasst</li>
        <li>Ein Prozess kann nun auch ohne ein Praxis existieren. Dadurch können eigene Abläufe definiert und direkt unter Prozesse abgehakt werden. 
        <br>Diese Funktion gilt für neu angelegte Prozesse.
        </li>
    </ul>
<hr>
<p>Nachfolgend Änderungen vom 26.09.23:</p>
<article class="blog-post">
    <h2 class="blog-post-title">Navigationsleiste</h2>
    <ul>
        <li>Die Hauptnavigationsleiste wurde angepasst. Veranstaltungen und E-mails sind nun unter dem gemeinsamen Ordner Organisation zu finden.</li>
        <li>Der Punkt Rückmeldung wurde auf der rechten Seite der Navigationsleiste hinzugefügt.</li>
        <li>Studien wurden aus der Navigationsleiste entfernt, da das Modul bisher zu wenig Funktionen besitzt.</li>
        <li>Neben der Hauptnavigationsleiste, wurde die seitliche Navigationsleiste innerhalb einer Praxis aktualisiert. Dabei handelt es sich nur um eine Neustrukturierung.</li>
    </ul>

    <hr>

    <h2 class="blog-post-title">Rückmeldung</h2>
    <p>Unter dem Punkt Rückmeldung (Rechts oben in der Hauptnavigationsleiste) ist ein beispielhafter Workflow zu finden, an dem Ihr euch orientieren könnt, um das PRM zu testen.</p>
    <img src="{% static 'changelogs/images/rueckmeldung.png' %}" alt="image:rueckmeldung"
    style="border: 3px solid #0d6efd; width:100%;">
    <p class="mt-4">Navigiert man in der linken Navigationsleiste zu dem Punkt Rückmeldung, kann über das "+" ein Formular für Feedback ausgefüllt werden.</p>
    <p>Das Feedback kann vom Entwickler (mir ;)) eingesehen werden. In der Tabelle werden eure Rückmeldungen angezeigt. Zudem sehr Ihr, ob eure Rückmeldung bereits bearbeitet wurde.</p>
    <img src="{% static 'changelogs/images/rueckmeldung2.png' %}" alt="image:rueckmeldung2"
    style="border: 3px solid #0d6efd; width:100%;">

    <hr>

    <h2 class="blog-post-title">Importer</h2>
    <p>Ein Basisimplementierung für den Import von Praxis- und Personendaten steht nun zur Verfügung.</p>
    <p>Ist ist durchaus möglich, dass für euch relevante Felder noch fehlen. Wenn dies der Fall ist, schreibt mir gerne eine Rückmeldung (Im PRM oder per E-mail). Diese Felder werden dann nachgetragen</p>
    
    <hr>

    <h2 class="blog-post-title">Sonstiges</h2>
    <ul>
        <li>Praxisdaten wurden hinzugefügt</li>
        <li>Anzeigefehler von Praxis und Personendaten behoben</li>
    </ul>

    <hr>
    
</article>
{% include 'changelogs/changelog_pagination.html' with v0_6_0="active" %}
<p></p>
{% endblock %}