{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Changelog notification</h1>
<p>Activate changelog notification for the users</p>
<form method="post">
    {% csrf_token %}
    {% include 'global/buttons/back_to_previous_site_button.html' %}
    <button type="submit" class="btn btn-primary">Activate</button>
</form>
{% endblock %}