{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block page_content %}
<h1>Änderungen im Praxisregister zu Version 0.3.0</h1>
<p>Letztes Update des Dokuments: 30.03.23 </p>
<hr>
<article class="blog-post">
    <h2 class="blog-post-title">Praxis</h2>
    <ul>
        <li>In der Praxisnavigation wurde der Inhalt des Reiters "Vertrag" zu dem Reiter "Akkreditierung" verschoben.</li>
        <li>Stammdaten, Strukturdaten und Daten der IT-Infrastruktur wurden als optionale Felder deklariert.</li>
        <li>Verschlankung der seitlichen Navigation innerhalb der Stammdaten, Strukturdaten und Daten der IT-Infrastruktur, indem Formulare zusammgefasst wurden.</li>
        <li>Für eine Akkreditierung steht nun eine Akkreditierungscheckliste bereit, die von jeder Institution eigen bearbeitet werden kann.</li>
    </ul>
    <hr>
    <h2 class="blog-post-title">Sonstige Anpassungen</h2>
    <ul>
        <li></li>
    </ul>
    <hr>
</article>
{% include 'changelogs/changelog_pagination.html' with v0_3_0="active" %}
<p></p>
{% endblock %}