{% load i18n %}

<table class="table table-sm">
    <tbody>
    {# Checking accreditation status and changing css class of this table row accordingly #}
    {% if accreditation.status == "NOT_ACCREDITED" %}
        <tr class="table-danger">
    {% elif accreditation.status == "PENDING" %}
        <tr class="table-info">
    {% elif accreditation.status == "ACCREDITED" %}
        <tr class="table-success">
    {% endif %}
    <th>{% trans 'Accreditation status' %}</th>
    <td>
        <span class="float-end">
            <strong>{{ accreditation.get_status_display }}</strong>
            <a href="{% url 'accreditations:edit' accreditation.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </span>
        <br>
        <span class="float-end">
            {% if accreditation.accredited_at %}
                {{ accreditation.accredited_at }}
                <a href="{% url 'accreditations:edit-accredited-at' accreditation.id %}">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        </span>
    </td>


    </tr>
    </tbody>
</table>