{% extends 'practices/practice_base.html' %}
{% load fields_verbose_name %}
{% load accreditation_crit_checkmark %}
{% load i18n %}

{% block page_content %}
    <div class="row">
        <div class="col-sm">
            <h4 class="display-7">
                {% trans 'Accreditation type' %}: {{ accreditation }}
            </h4>
            <p class="display-6 d-inline">
                {% trans 'Accreditation checklist' %}
                <h3 class="d-inline">
                    <a href="{% url 'accreditations:edit-checklist' accreditation.id %}" id="id_edit_checklist">
                        <i class="fa fa-edit"></i>
                    </a>
                </h3>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover">
                <tbody>
                    <tr class="table-secondary border">
                        <th colspan="2">{% trans 'Selected attributes' %}<span class="float-end">{% trans 'Status' %}</span></th>
                    </tr>
                    {% if attributes|length_is:"0" %}
                    <tr>
                        <th>{% trans 'No accreditation attributes have been defined for the checklist yet' %}</th>
                    </tr>
                    {% else %}
                        {% for attribute, value in attr_dict.items %}
                            <tr>
                                <th>{{ attribute }}</th>
                                <td>{{ value|checkmark }}</td>
                            </tr>
                        {% endfor %}
                        {% if OPERATES_UNTIL %}
                            {% for label, value in OPERATES_UNTIL.items %}
                            <tr>
                                <th>{{ label }} {{ accreditation.practice_has_to_operate_until }}</th>
                                <td>{{ value|checkmark }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        {% if PARTICIPATED_IN_EVENTS %}
                            {% for event_label, events_dic in PARTICIPATED_IN_EVENTS.items %}
                                <tr>
                                    <th>{{ event_label }}</th>
                                    <td>
                                        <table class="table table-sm">
                                        {% for event, participated in events_dic.items %}
                                        <tr> 
                                            <th>{{ event }}</th>
                                            <td>{{ participated|checkmark }}</td>
                                        </tr>
                                        {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">     
        {% include 'practices/accreditations/_is_accredited.html' %}
        </div>
    </div>
{% endblock %}

