{% extends 'mails/email-sidebar-left.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
    <h3 class="display-6">
        {% block title %}
        {% endblock %}
    </h3>
    {% block info %}
    {% endblock %}
    {% include "global/snippets/number_of_table_entries.html" %}
    {% render_table table %}
{% endblock %}

{% block custom_script %}
<script>
$(document).ready(function(){
    $('[data-bs-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}