{% extends 'mails/tables/basic_email_list.html' %}
{% load i18n %}

{% block title %}
{% trans 'Drafts' %}
<a href="{% url 'mail:emailobject-new' %}" id="id_new_email_object_button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Create new Email' %}">
    <i class="fa fa-plus-circle"></i>
</a>
{% endblock %}

{% block info %}
<div class="border bg-light d-inline-block">
    <p class="m-2"><i class="fa-solid fa-circle-info text-primary"></i>
    {% trans 'Here you will find all unsent e-mails. New emails can be created here.' %}
    </p>
</div>
{% endblock %}