{% extends 'mails/tables/basic_email_list.html' %}
{% load i18n %}

{% block title %}
{% trans 'Email text modules' %}
<a href="{% url 'mail:textmodule-new' %}" id="id_new_text_module_button" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Create new text module' %}">
    <i class="fa fa-plus-circle"></i>
</a>
{% endblock %}

{% block info %}
<div class="border bg-light d-inline-block">
    <p class="m-2"><i class="fa-solid fa-circle-info text-primary"></i>
    {% trans 'Text blocks are small reusable text blocks which you can insert into your email. For example, your first and last name or a greeting.' %}
    </p>
</div>
{% endblock %}