{% load i18n %}

{% if todo.status == 'OPEN' %}
    {% if request.user == todo.author or request.user == todo.assignee %}
        <p>
            <a {% include 'global/buttons/edit_button_classes.html' %} href="#">
                {% trans 'Edit' %}
            </a>

            <a {% include 'global/buttons/delete_button_classes.html' %} href="#">
                {% trans 'Delete' %}
            </a>
        </p>
        {% include 'todos/todo_controls/mark_as_done_button.html' %}

    {% endif %}

{% endif %}

