{% load i18n %}
{% load crispy_forms_filters %}

<form action="{% url 'todos:mark-as-done' todoStatus.id %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% if todoStatus.status == 'OPEN' %}
    <button class="btn btn-sm btn-outline-success" type="submit" name="markAsDone">
            <i class="far fa-check-circle"></i> {% trans 'Mark as done' %}
    {% else %}
    <button class="btn btn-sm btn-outline-primary" type="submit" name="reopen">
        <i class="fa-solid fa-rotate-left"></i> {% trans 'Reopen' %}
    {% endif %}
    </button>
</form>

