{% extends 'global/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_filters %}

{% block custom_css %}
    {% include 'processes/css/stamps.html' %}
{% endblock %}
{% block side_bar %}
    {% include 'processes/navbar.html' %}
{% endblock %}
{% block page_content %}
    <div {% include 'global/text_elements/page_heading_classes.html' %}>
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Process #' %}{{ process_definition.id }}: {{ process_definition.name | truncatechars:45 }}
                {% if "EDIT_ALLOWED" in actions %}
                    <a href="{% url 'processes:definition-update' process_definition.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                {% endif %}
                {% if process_definition.is_draft %}
                    <div class="stampDraft float-end">{% trans 'Draft' %}</div>
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <dt>{% trans 'Created' %}</dt>
            <dd>{% trans 'At' %} {{ process_definition.created_at }} by {{ process_definition.author }} </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <dt>{% trans 'Description' %}</dt>
            <dd>{{ process_definition.description|linebreaksbr }}</dd>
        </div>
    </div>
    {% if process and not process_definition.is_draft %}
    <div class="row">
        <div class="col-sm">
            <dt>{% trans 'Deadline' %}</dt>
            <dd class="d-flex align-items-center">
                {% if process.deadline %}
                <span class="me-2">
                    {{ process.deadline|default:"" }}
                    {% if process.is_due %}<i class="fa-solid fa-circle-exclamation text-danger"></i>{% endif %}
                </span>
                {% endif %}

                <a href="{% url 'processes:process-edit-deadline' process.id %}"
                    class="btn btn-sm btn-outline-primary py-0">
                    <i class="fas fa-edit"></i> 
                    {% if process.deadline %}
                    {% trans "Edit deadline" %}
                    {% else %}
                    {% trans "Set deadline" %}
                    {% endif %}
                </a>
            </dd>
        </div>
    </div>
    {% endif %}


    {% if process_definition.is_draft %}
        {% include 'processes/steps_definition.html' %}
    {% else %}
        {% include 'practices/processes/process_step_table.html' %}
    {% endif %}


{% endblock %}


{% block side_bar_right %}
    <ul class="nav flex-column w-100">
        <div>
            <form action="{% url 'processes:definition-copy' process_definition.id %}" method="post"
                  style="margin: 0; padding: 0;">
                {% csrf_token %}
                {{ form|crispy }}
                <button
                        {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                        type="submit"
                        name="copy"
                >
                    <i class="fas fa-copy"></i> {% trans 'Create Copy' %}
                </button>
            </form>
        </div>
        {% if "EDIT_ALLOWED" in actions %}
            {% if "FINALIZE" in actions %}
                <div>
                    <form action="{% url 'processes:definition-finalize' process_definition.id %}" method="post"
                          style="margin: 0; padding: 0;">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button
                                {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                                type="submit"
                                name="finalize"
                             <i class="fas fa-check-double"></i> {% trans 'Finalize Process' %}
                        </button>
                    </form>
                </div>
            {% endif %}
                <a class="btn btn-outline-danger w-100 text-start" data-bs-toggle="modal", data-bs-target="#confirmDeleteModal">
                    <i class="fa fa-trash"></i> {% trans 'Delete process' %}
                </a>
                 {% include 'processes/delete_modal.html' %}
            </div>
        {% endif %}

    </ul>
{% endblock %}