{% extends 'global/base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
    <div class="col-sm mb-3">
        <h3 class="display-6">
            {% trans 'Processes' %}
            <a href="{% url 'processes:definition-create' %}" id="id_new_process_button" title="{% trans 'Create new process' %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm mb-3">

            {% crispy filter.form filter.form.helper %}
            {% include "global/snippets/number_of_table_entries.html" %}
            {% render_table table %}
        </div>
    </div>

{% endblock %}