{% load i18n %}
{% load truncate %}
<nav class="navbar navbar-expand-lg navbar-light">

    <ul class="nav flex-column w-100">
        {% url 'processes:definition-detail' process_definition.id as process_url %}
        {% url 'processes:process-instances' process_definition.id as practice_processes_url %}
        
        <p class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
            {% trans 'Process #' %}{{ process_definition.id }}:<br>
            <strong>{{ process_definition.name | truncatemultiline:20 }}</strong>
        </p>


        <div>
            <a class="btn btn-outline-primary w-100 mt-2 text-start {% if process_url == request.path %} active {% endif %}" href="{{ process_url }}">
                <i class="fa-solid fa-gear"></i>
                {% trans 'Process' %}
                {% if process_definition.general_process.is_due %}
                    <i class="fa-solid fa-circle-exclamation fa-beat text-warning ms-1"></i>
                {% endif %}
            </a>
        </div>

        {% if "VIEW_INSTANCES" in actions %}
        <div>
            <a class="btn btn-outline-primary w-100 mt-2 text-start {% if practice_processes_url == request.path %} active {% endif %}" href="{{ practice_processes_url }}">
                <i class="fa-solid fa-house-medical"></i>
                {% trans 'Linked practices' %}
                {% if is_practice_overdue %}
                    <i class="fa-solid fa-circle-exclamation fa-beat text-warning ms-1"></i>
                {% endif %}
            </a>
        </div>
        {% endif %}
    </ul>
</nav>