{% extends 'mails/forms/basic_email_form.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load filename %}

{% block form_fields_top %}
{{ form.from_email|as_crispy_field }}
{{ form.reply_to|as_crispy_field }}
{% endblock %}


{% block form_fields_bottom %}
{% for attachement in email_object.emailattachement_set.all %}
{% if attachement.file %}
<div class="row">
    <div class="col-md-auto">
        <strong>{% trans 'Attachement' %} {{ forloop.counter }}:</strong>
        <a href="{% url 'mail:attachement-download' email_object.id attachement.id %}">{{ attachement.file|filename }}</a>
    </div>
    <div class="col-md-auto">
        <a {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
            href="{% url 'mail:attachement-delete' attachement.id %}">
            <i class="fa fa-trash"></i> {% trans 'Delete attachement' %}
        </a>
    </div>
</div>
{% endif %}
{% endfor %}
{{ form.event|as_crispy_field }}
{% endblock %}