{% extends 'mails/email-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block custom_css %}
<link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block pre_script %}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
{% endblock %}

{% block side_bar_top %}
{% include 'mails/snippets/email_object_sidebar.html' %}
{% endblock %}

{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <br><h4>{% trans 'Message' %}:</h4>
        {{ form.received_email_message }}<br>
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}
