{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' %}
{% endblock %}
{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        {% if additional_form %}
        {{ additional_form|crispy }}
        {% endif %}
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br>
        {% block to_overview_button %}
        {% include 'practices/practice_structure/practice_back_to_structure_data.html' %}
        {% endblock %}
    </form>
{% endblock %}