{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{{ form.instance }}</h2>
    <form method="post" autocomplete="off" id="practice_structure_engagement_form">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
    </form>
{% endblock %}

{% block custom_script %}
    <!-- begin custom jquery script to enable/disable id_engagement_academic_teaching_practice_site text input based on dropdown value -->
    <!-- TODO: this code can be improved later, does the job for now -->
    <script>
        let id_engagement_is_academic_teaching_practice= "#id_engagement_is_academic_teaching_practice";
        let id_engagement_academic_teaching_practice_site= "#id_engagement_academic_teaching_practice_site";
        let id_practice_structure_engagement_form = "#practice_structure_engagement_form";

        // onchange logic
        $(function () {
            $(id_engagement_is_academic_teaching_practice).change(function () {
                if ($(this).is(":checked")) {
                    $(id_engagement_academic_teaching_practice_site).removeAttr("disabled");
                    $(id_engagement_academic_teaching_practice_site).focus();
                } else {
                    $(id_engagement_academic_teaching_practice_site).val("");
                    $(id_engagement_academic_teaching_practice_site).attr("disabled", "disabled");
                }
            });
        });

        // initial value logic
        $(document).ready(function () {

            if ($(id_engagement_is_academic_teaching_practice).is(":checked")) {
                $(id_engagement_academic_teaching_practice_site).attr("enabled", "enabled");
            } else {
                $(id_engagement_academic_teaching_practice_site).attr("disabled", "disabled");
            }
        });

        // submit logic, because disabled fields are not sent with POST otherwise, "other" value not set to blank then
        $(id_practice_structure_engagement_form).submit(function () {
            $(id_engagement_academic_teaching_practice_site).removeAttr('disabled');
        });
    </script>
    <!-- end custom jquery script to enable/disable id_engagement_academic_teaching_practice_site text input based on dropdown value -->
{% endblock %}