{% extends 'practices/practice_base.html' %}
{% load i18n %}


{% block practice-content %}

    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'IT Infrastructure' %}
            </h3>
            <div class="row">
                <div class="col-sm">
                    {% include 'practices/it_infrastructure/pdms_info.html' %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm">
                    {% include 'practices/it_infrastructure/system_house.html' %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm">
                    {% include 'practices/it_infrastructure/other_it_features.html' %}
                </div>
            </div>
        </div>

        <div class="col-sm">
            {% include 'practices/it_infrastructure/it_notepad.html' %}
        </div>
    </div>
{% endblock %}