{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Other informations' %}
            <a href="{% url 'practices:it-other-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ practice|verbose:"it_how_often_is_fax_used_for_communication" }}</th>
                <td class="text-end">
                    {{ practice.get_it_how_often_is_fax_used_for_communication_display }}
                </td>
            </tr>

            <tr>
                <th>{{ practice|verbose:"it_is_email_checked_frequently" }}</th>
                <td class="text-end">
                    {{ practice.get_it_is_email_checked_frequently_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_fopranet_ready_workstation_available" }}</th>
                <td class="text-end">
                    {{ practice.get_it_fopranet_ready_workstation_available_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_openness_data_export" }}</th>
                <td class="text-end">
                    {{ practice.get_it_openness_data_export_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_automatic_backups_established" }}</th>
                <td class="text-end">
                    {{ practice.get_it_automatic_backups_established_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_practice_networks" }}</th>
                <td class="text-end">
                    {{ practice.it_practice_networks }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_remote_maintenance" }}</th>
                <td class="text-end">
                    {{ practice.get_it_remote_maintenance_display }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_security_permissions" }}</th>
                <td class="text-end">
                    {{ practice.it_security_permissions }}
                </td>
            </tr>

            <tr>
                <th>{{ practice|verbose:"it_operating_system" }}</th>
                <td class="text-end">
                    {% with practice.it_operating_system.all as options %}
                        {% if options %}
                            {% for os in options %}
                                <span class="text-nowrap">{{ os }}</span><br>
                            {% endfor %}
                        {% else %}
                            ---
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_internet_speed" }}</th>
                <td class=" text-end">
                    {{ practice.get_it_internet_speed_display }}
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>