{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'System house' %}
            <a href="{% url 'practices:it-system-house-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <p class="card-text">
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ practice|verbose:"it_system_house_name" }}</th>
                <td>
                    {{ practice.it_system_house_name|default:"-" }}
                </td>
            </tr>

            <tr>
                <th>{% trans 'Address' %}</th>
                <td>
                    <address>
                        {{ practice.it_system_house_address_street|default:"" }} {{ practice.it_system_house_address_house_number|default:"" }}<br>
                        {{ practice.it_system_house_address_zip_code|default:"" }} {{ practice.it_system_house_address_city|default:"" }}
                    </address>
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_system_house_contact_person_name" }}</th>
                <td>
                    {{ practice.it_system_house_contact_person_name|default:"-" }}
                </td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"it_system_house_contact_phone" }}</th>
                <td>
                    {% if practice.it_system_house_contact_phone|default:"-" %}
                        {{ practice.it_system_house_contact_phone|default:"-" }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>{% trans 'E-Mail' %}</th>
                <td>
                    {% if practice.it_system_house_contact_email %}
                        {{ practice.it_system_house_contact_email|urlize }}
                    {% endif %}
                </td>
            </tr>

            </tbody>
        </table>
        </p>
    </div>
</div>