{% extends 'global/extra_admin_form_base.html' %}

{% load crispy_forms_filters %}

{% block page_content %}
<h1>Create new User</h1>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Create new User">
</form>
{% endblock %}