{% load i18n %}
{% load fields_verbose_name %}
{% load filename %}

{% block practice-content %}
    <div class="row">
        <div class="col">
            <h3 class="display-6">
                {% trans 'Contract' %}
                <a href="{% url 'practices:contract-edit' practice.id %}" id="id_edit_contract">
                    <i class="fa fa-edit"></i>
                </a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p id="id_contract_signed_indicator_text">{% trans 'Contract signed' %}: {{ practice.is_contract_signed|yesno }}</p>
            {% if practice.is_contract_signed %} 
            <p id="id_contract_signed_date_text">{% trans 'Contract signed date' %}: 
                {% if practice.contract_signed_date %} 
                {{ practice.contract_signed_date}}
                {% else %}
                {% trans 'No signed date available.' %}
                {% endif %}
            </p>
            {% endif %}
            <p id="id_contract_document">
                {% if practice.contract_document %}
                    {% include "global/snippets/single_downloadable_file.html" with file=practice.contract_document %}
                {% else %}
                    {% trans 'No contract document available.' %}
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}
