<form action="{% url 'studies:participation-delete-person' participation.study_participation.id participation.id %}" method="post" style="margin: 0; padding: 0; display:inline;">
    {% csrf_token %}
    <button class="btn btn-sm btn-outline-danger" type="submit" name="removePerson">
        <i class="fa fa-trash"></i>
    </button>
</form>