{% extends 'studies/study_base.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block study_content %}
<div class="col-sm mb-3">
    <h3 class="display-6">
    {% trans 'Edit study participation of ' %} {{ form.instance.person.full_name_with_title }}
    </h3>
</div>

<p>
    <strong>{% trans 'Study' %}:</strong> {{ form.instance.study_participation.study }}<br>
    {% if form.instance.participation.study_participation.practice %}
    <strong>{% trans 'Practice' %}:</strong> {{ form.instance.study_participation.practice }}<br>
    {% endif %}
    <strong>{% trans 'Person' %}:</strong> {{ form.instance.person.full_name_with_title }}<br>
</p>
<form method="post" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    {% include 'global/buttons/back_to_previous_site_button.html' %}
    <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
</form>
{% endblock %}