{% extends 'studies/study_base.html' %}
{% load i18n %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block study_content %}
<div class="col-sm mb-3">
    <h3 class="display-6">
    {% trans 'Add people to study ' %} {{ study.title }}
    </h3>
</div>
<div class="row">
    <div class="card">
        {% crispy filter.form %}
        <form method="post" autocomplete="off" class="checkbox-list">
            {% csrf_token %}
            {% include "global/snippets/number_of_table_entries.html" %}
            {% include "global/js/checkbox_list.html" %}
            {% render_table table %}

            <a class="btn btn-primary" href="{% url 'studies:people-participation-list' study.id %}">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Add' %} </button>
        </form>
    </div>
</div>
{% endblock %}