{% load i18n %}
{% load truncate %}
<nav class="navbar navbar-expand-lg navbar-light">

    <ul class="nav flex-column  w-100">
        <p class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
            {{ study | truncatemultiline:20 }}
        </p>
        <div>
            <a class="btn btn-outline-primary w-100 mb-2 text-start d-flex gap-1 align-items-center {{ active_study_details }}"
                    href="{% url 'studies:detail' study.id %}">
                <i class="fas fa-info-circle fa-fw"></i> {% trans 'Study Details' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-primary w-100 mb-2 text-start d-flex gap-1 align-items-center {{ active_participating_practices }}"
                    href="{% url 'studies:participation-list' study.id %}">
                <i class="fas fa-house fa-fw"></i> {% trans 'Participating practices' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-primary w-100 mb-2 text-start d-flex gap-1 align-items-center {{ active_participating_people }}" 
                    href="{% url 'studies:people-participation-list' study.id %}">
                <i class="fas fa-users fa-fw"></i> {% trans 'Participating people' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-success w-100 mb-2 text-start d-flex gap-1 align-items-center {{ active_add_practices }}" 
                    href="{% url 'studies:bulk-add-practices' study.id %}">
                <i class="fas fa-house-medical fa-fw"></i> {% trans 'Add practices' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-success w-100 mb-2 text-start d-flex gap-1 align-items-center {{ active_add_people }}" 
                    href="{% url 'studies:bulk-add-people' study.id %}">
                <i class="fas fa-user-plus fa-fw"></i> {% trans 'Add participants' %}
            </a>
        </div>
    </ul>

</nav>