{% extends 'studies/study_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}


{% block study_content %}
    <h3 class="text-truncate">
        {% trans 'Study' %} {{ study.id }}: {{ study.title }}
    </h3>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {% trans 'Information' %}
            </h5>

            <dt>{% trans 'Description' %}</dt>
            <dd>{{ study.description|linebreaksbr }}</dd>

            <dt>{% trans 'Time period' %}</dt>
            <dd>{{ study.start_date }} - {{ study.end_date }}</dd>

            <dt>{% trans 'Responsible Institute' %}</dt>
            <dd>{{ study.assigned_institute }}</dd>

            <dt>{% trans 'Classification' %}</dt>
            <dd>
                <span class="badge bg-secondary">{{ study.get_type_display }}</span>
                <span class="badge bg-secondary">{{ study.get_intervention_display }}</span>
                <span class="badge bg-secondary">{{ study.get_long_cross_display }}</span>
            </dd>

            <dt>{% trans 'URL to EDC entry' %}</dt>
            <dd>
                {{ study.url|urlize }}
            </dd>

        </div>
    </div>

{% endblock %}

{% block side_bar_right %}
    {% if "EDIT_STUDY" in actions %}
        <a {% include 'global/buttons/sidebar_controls/edit_classes.html' %}
                id="id_edit_person_button"
                href="{% url 'studies:edit' study.id %}">
            {% trans 'Edit Study' %}
        </a>
    {% endif %}
    {% if "DELETE_STUDY" in actions %}
        <a {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
                id="id_delete_person_button"
                href="{% url 'studies:delete' study.id %}">
            {% trans 'Delete Study' %}
        </a>
    {% endif %}

{% endblock %}