{% extends 'studies/study_base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block study_content %}
    <h3>
        {% trans 'Participating practices' %}
    </h3>

    <div class="row mt-3">
        <div class="col-sm">
            {% crispy filter.form filter.form.helper %}
            {% include "global/snippets/number_of_table_entries.html" %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}
