{% extends 'importer/tables/base_import_table.html' %}
{% load i18n %}

{% block title %}
    <h3>{% trans 'Import history detail' %}</h3>
    <span>
        {% trans 'Headers' %}:
    </span>
    <ul>
        {% for header in headers %}
        <li>{{ header }}</li>
        {% endfor %}
    </ul>
{% endblock %}
    
{% block after_table %}
<div class="row">
    <div class="col-sm mb-3">
        {% csrf_token %}
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">{% trans 'Go back' %}</a>
    </div>
</div>
{% endblock %}
