{# TODO: Should be done with custom templatetag #}

<h5>
    {% if todoStatus.status == 'OPEN' %}
        <span class="badge bg-primary">{{ todoStatus.get_status_display }}</span>
    {% else %}
        <span class="badge bg-success">{{ todoStatus.get_status_display }}</span>
    {% endif %}
</h5>