{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h3 class="display-6">
        {{ request.user }}{% trans "'s ToDos" %}
    </h3>

    <table class="table table-sm table-hover">
        <thead>
            
        <tr>
            <th style="width: 10%">{% trans 'Status' %}</th>
            <th style="width: 15%">{% trans 'Involved' %}</th>
            <th style="width: 50%">{% trans 'ToDo' %}</th>
            <th style="width: 15%">{% trans 'Created at' %}</th>
            <th style="width: 10%"></th>
        </tr>
        </thead>
        <tbody>
        {% for todo in page_obj %}
            <tr>
                <td>
                    {% for todoStatus in todo.todostatus_set.all %}
                        {% if todoStatus.user == request.user %}
                            {% include 'todos/status_indicator.html' with todoStatus=todoStatus %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <p>
                        <strong>{% trans 'Practice' %}</strong><br>
                        {% if todo.practice %}
                            <a href="{% url 'practices:detail' todo.practice.id %}">{{ todo.practice }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </p>
                </td>
                <td>
                    <strong>{{ todo.title }}</strong><br>
                    {{ todo.description|linebreaksbr }}
                </td>
                <td>
                    {{ todo.created_at }}
                    <p>
                        {% trans 'by' %}<br>
                        {{ todo.author }}
                    </p>
                </td>
                <td>
                    <span class="float-end">
                    {% for todoStatus in todo.todostatus_set.all %}
                        {% if todoStatus.user == request.user %}
                            {% include 'todos/todo_controls/mark_as_done_button.html' with todoStatus=todoStatus %}
                        {% endif %}
                    {% endfor %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'global/snippets/pagination.html' %}
{% endblock %}

{% block side_bar_right %}

{% endblock %}