{% extends 'global/base.html' %}
{% load i18n %}


{% block page_content %}

    <div {% include 'global/text_elements/page_heading_classes.html' %}>
        <div class="col-sm">
            <h3>
                {% trans 'ToDo #' %}{{ object.id }}: {{ object.description_short }}
            </h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h5 class="card-title">
                        {% trans 'ToDo Details' %}
                        <span class="float-end">
                {% with object as todo %}
                    {% include 'todos/todo_controls/control_panel_details.html' %}
                {% endwith %}
                </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <dt>{% trans 'Author' %}</dt>
                    <dd>{{ object.author }}</dd>
                </div>
                <div class="col-sm">
                    <dt>{% trans 'Created at' %}</dt>
                    <dd>{{ object.created_at }}</dd>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <dt>{% trans 'Assignee' %}</dt>
                    <dd>
                        {% if object.assignee %}{{ object.assignee }}{% else %}-{% endif %}
                    </dd>
                </div>
                <div class="col-sm text-nowrap">
                    <dt>{% trans 'Practice' %}</dt>
                    <dd>
                        {% if todo.practice %}
                            <a href="{% url 'practices:detail' todo.practice.id %}">
                                {{ todo.practice.name }}
                                ({{ todo.practice.address_zip_code }} {{ todo.practice.address_city }})
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <dt>{% trans 'Description (detail)' %}</dt>
                    <dd>{{ object.description_detail|linebreaksbr }}</dd>
                </div>
                <div class="col-sm">
                    <dt>{% trans 'Status' %}</dt>
                    <dd>
                        {% with object as todo %}
                            {% include 'todos/status_indicator.html' %}
                        {% endwith %}
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                        <span class="float-end">

                    {% include 'global/buttons/back_to_previous_site_button.html' %}
                        </span>
                </div>
            </div>

        </div>
    </div>

{% endblock %}