{% extends 'global/base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block custom_css %}
{% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block side_bar %}
{% endblock %}

{% block page_content %}
<div class="col-sm mb-3">
    <h3 class="display-6">
        {% trans 'Research Practices' %}
        <a href="{% url 'practices:create' %}" id="id_new_practice_button" title="{% trans 'Add Practice' %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
</div>
<h6>{% trans 'Filter functions:' %}</h6>
<div class="row">
    <div class="col-sm mb-3">
        <form hx-get="{% url 'practices:practice_table' %}" hx-target="#practice_table">
            {% crispy filter.form filter.form.helper %}
        </form>
        <div id="practice_table">
            <div>
                {% include "global/snippets/number_of_table_entries.html" %}
                {% render_table table %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
    {% include 'global/js/set_active.html' %}
{% endblock %}