{% load i18n %}

<ul class="nav flex-column nav-pills me-3">
    <a href="{% url 'practices:detail' practice_id %}" style="text-decoration: none;" id="id_practice_home_button">
        <p class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
            <strong>{{ practice.name }}</strong><br>
        </p>
    </a>
    <a data-bs-toggle="collapse" href="#collapseBaseData" role="button" aria-expanded="true" aria-controls="collapseBaseData" class="text-decoration-none">
        <h5 class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark lh-1 mb-2">
            <i class="fas fa-clinic-medical fa-fw"></i> {% trans 'Base Data' %} <i class="fa-solid fa-caret-down"></i>
        </h5>
    </a>
    <div class="collapse show" id="collapseBaseData">
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:edit-info' practice_id as edit_info_url %}
            <a class="nav-link {% if request.path == edit_info_url %} active {% endif %}" href="{{ edit_info_url }}">{% trans 'Information' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:create-site' practice_id as create_site_url %}
            <a class="nav-link {% if request.path == create_site_url %} active {% endif %}" href="{{ create_site_url }}">{% trans 'Additional Sites' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:edit-contact' practice_id as edit_contact_url %}
            <a class="nav-link {% if request.path == edit_contact_url %} active {% endif %}" href="{{ edit_contact_url }}">{% trans 'Contact' %}</a>
        </li>
        <li class="nav-item mb-3 me-2 border rounded">
            {% url 'practices:edit-opening-hours' practice_id as opening_hours_url %}
            <a class="nav-link {% if request.path == opening_hours_url %} active {% endif %}" href="{{ opening_hours_url }}">{% trans 'Contact Times' %}</a>
        </li>
    </div>
    <a data-bs-toggle="collapse" href="#collapseStructuralData" role="button" aria-expanded="true" aria-controls="collapseStructuralData" class="text-decoration-none">
        <h5 class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1 mb-2">
            <i class="fas fa-info-circle fa-fw"></i> {% trans 'Structural Data' %} <i class="fa-solid fa-caret-down"></i>
        </h5>
    </a>
    <div class="collapse show" id="collapseStructuralData">
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:structure-general-edit' practice_id as structure_general_edit_url %}
            <a class="nav-link {% if request.path == structure_general_edit_url %} active {% endif %}" href="{{ structure_general_edit_url }}">{% trans 'General' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:structure-services-edit' practice_id as structure_services_edit_url %}
            <a class="nav-link {% if request.path == structure_services_edit_url %} active {% endif %}" href="{{ structure_services_edit_url }}">{% trans 'Range of services' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:structure-treatment-by-age-edit' practice_id as structure_treatments_detail %}
            <a class="nav-link {% if request.path == structure_treatments_detail %} active {% endif %}" href="{{ structure_treatments_detail }}">{% trans 'Treatments in detail' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:dmp-entry-edit' practice_id as dmp_entry_edit_url %}
            <a class="nav-link {% if request.path == dmp_entry_edit_url %} active {% endif %}" href="{{ dmp_entry_edit_url }}">{% trans 'Disease Management Programs' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:structure-doctors-edit' practice_id as structure_doctors_edit_url %}
            <a class="nav-link {% if request.path == structure_doctors_edit_url %} active {% endif %}" href="{{ structure_doctors_edit_url }}">{% trans 'Doctors' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:structure-staff-edit' practice_id as structure_staff_edit_url %}
            <a class="nav-link {% if request.path == structure_staff_edit_url %} active {% endif %}" href="{{ structure_staff_edit_url }}">{% trans 'Staff' %}</a>
        </li>
    </div>
    <a data-bs-toggle="collapse" href="#collapseITInfrastructureData" role="button" aria-expanded="true" aria-controls="collapseITInfrastructureData" class="text-decoration-none">
        <h5 class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1 mb-2">
            <i class="fas fa-network-wired fa-fw"></i> {% trans 'IT Infrastructure' %} <i class="fa-solid fa-caret-down"></i>
        </h5>
    </a>
    <div class="collapse show" id="collapseITInfrastructureData">
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:it-pdms-edit' practice_id as it_pdms_edit_url %}
            <a class="nav-link {% if request.path == it_pdms_edit_url %} active {% endif %}" href="{{ it_pdms_edit_url }}">{% trans 'Patient Data Management System' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:it-system-house-edit' practice_id as it_system_house_edit_url %}
            <a class="nav-link {% if request.path == it_system_house_edit_url %} active {% endif %}" href="{{ it_system_house_edit_url }}">{% trans 'System house' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:it-other-edit' practice_id as it_other_edit_url %}
            <a class="nav-link {% if request.path == it_other_edit_url %} active {% endif %}" href="{{ it_other_edit_url }}">{% trans 'Other informations' %}</a>
        </li>
    </div>
    <a data-bs-toggle="collapse" href="#collapseCommunicationData" role="button" aria-expanded="true" aria-controls="collapseCommunicationData" class="text-decoration-none">
        <h5 class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1 mb-2">
            <i class="fas fa-comments fa-fw"></i> {% trans 'Communication' %} <i class="fa-solid fa-caret-down"></i>
        </h5>
    </a>
    <div class="collapse show" id="collapseCommunicationData">
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:communication-spoken-language-edit' practice_id as spoken_language_url %}
            <a class="nav-link {% if request.path == spoken_language_url %} active {% endif %}" href="{{ spoken_language_url }}">{% trans 'Spoken Language' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:communication-digital-colleagues-edit' practice_id as with_colleagues_url %}
            <a class="nav-link {% if request.path == with_colleagues_url %} active {% endif %}" href="{{ with_colleagues_url }}">{% trans 'With colleagues' %}</a>
        </li>
        <li class="nav-item mb-1 me-2 border rounded">
            {% url 'practices:communication-digital-patients-edit' practice_id as with_patients_url %}
            <a class="nav-link {% if request.path == with_patients_url %} active {% endif %}" href="{{ with_patients_url }}">{% trans 'With patients' %}</a>
        </li>
    </div>
</ul>