{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <h2 id="id_form_header">{% trans 'Edit contract' %}</h2>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.is_contract_signed|as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
              {{ form.contract_signed_date|as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
              {{ form.contract_document|as_crispy_field}}
            </div>
        </div>
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>

{% endblock %}