{% extends 'feedback/feedback-sidebar-left.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block custom_css %}
{% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}
<div class="col-sm mb-3">
    <h3 class="display-6">
        {% trans 'Feedbacks' %}
        <a href="{% url 'feedback:create' %}" title="{% trans 'Add Feedback' %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
</div>
<div id="feedback_table">
    <div>
        {% include "global/snippets/number_of_table_entries.html" %}
        {% render_table table %}
    </div>
</div>
{% endblock %}