{% extends 'global/base.html' %}
{% load i18n %}

{% block side_bar %}
<ul class="nav flex-column w-100">

    {% block side_bar_top %}
    {% endblock %}
    
    {% url 'feedback:workflow-detail' as workflow_url %}
    {% url 'feedback:list' as feedback_list_url %}
    {% url 'feedback:know-issues' as known_issues %}
    
    <div class="d-flex flex-column align-items-end">
        <a class="btn btn-outline-primary w-100 mt-2 text-start  {% if feedback_list_url == request.path %} active {% endif %}" href="{{ feedback_list_url }}">
            {% if user.has_unseen_feedback %}
            <i class="fa-regular fa-envelope fa-beat"></i>
            {% else %}
            <i class="fa-regular fa-comment"></i>
            {% endif %}
            {% trans 'Feedback' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if workflow_url == request.path %} active {% endif %}" href="{{ workflow_url }}">
            <i class="fas fa-tasks fa-fw"></i> {% trans 'Test procedure' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-4 text-start  {% if known_issues == request.path %} active {% endif %}" href="{{ known_issues }}">
            <i class="fa-regular fa-folder-open"></i> {% trans 'Known issues' %}
        </a>
    </div>
      

    {% block side_bar_bottom %}
    {% endblock %}
</ul>
{% endblock %}