{% extends 'feedback/feedback-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block custom_css %}
<link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block pre_script %}
<script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
{% endblock %}

{% block page_content %}
    {{ modelRenderer }}
    {% for comment in feedbackComments %}
    {% if comment.user == request.user %}
        <div>
    {% else %}
        <div style="background-color: #dee2e6;">
    {% endif %}
            <div class="mt-4"><hr></div>
            <p><strong>{{ comment.user }}</strong> - {{ comment.comment_date }}</p>
            {{ comment.comment|safe }}
        </div>
    {% endfor %}

    <div class="mt-4"><hr></div>

    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>{% trans 'Compose answer' %}:</h4><br>
        <strong style="color:red;">
            {{ form.comment.errors }}
        </strong>
        {{ form.comment }}
        <br>
        <a href="{% url 'feedback:list' %}" class="btn btn-primary">{% trans 'Back' %}</a>
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Respond' %} </button>
    </form>
{% endblock %}