{% extends 'feedback/feedback-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load filename %}

{% block page_content %}
    <h2>{% trans 'Known issues' %}</h2>
    <h4>{% trans 'Issues' %}</h4>
    <ul>
        <li>E-Mails können noch nicht versendet werden.</li>
    </ul>
    <h4>{% trans 'Feature requests' %}</h4>
    <ul>
        <li>Veranstaltungen müssen in einem Kalender eingetragen werden (ähnlich wie Outlook).</li>
    </ul>
{% endblock %}