{% load i18n %}

<div class="row">
    <div class="col-sm border m-1 p-2">
        <span>
            {% include 'practices/snippets/site_address.html' %}
            <strong>{% trans 'Type of site' %}:</strong> {{ site.get_type_display }}<br>
            <strong>{% trans 'BSNR' %}</strong>: {% if site.identification_number %}{{ site.identification_number }}{% else %}-{% endif %}
        </span>
        <span class="float-end">
            <a href="{% url 'practices:edit-site' site.id %}"
               class="btn btn-sm btn-outline-primary text-nowrap">
                <i class="fas fa-edit"></i> {% trans 'Edit' %}
            </a>
            <a href="{% url 'practices:delete-site' site.id %}"
               class="btn btn-sm btn-outline-danger text-nowrap">
                <i class="fa fa-trash"></i> {% trans 'Delete' %}
            </a>
        </span>
    </div>
</div>