{% load i18n %}


<strong>{% trans 'County' %}:</strong>
{% if practice.county %}
    {{ practice.county }}
{% else %}
    -
{% endif %}<br>
<strong>{% trans 'Federal state' %}:</strong>
{% if practice.federal_state %}
    {{ practice.federal_state.full_name }}
{% else %}
    -
{% endif %}<br>