{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Additional qualifications (staff)' %}</th>
        {% if assistant_qualifications_in_general or assistant_added_qualifications_to_person %}
            {% for qualification in assistant_qualifications_in_general %}
                <tr>
                    <td>{{ qualification.type }}</td>
                    <td class="text-end">
                        <a href="{% url 'practices:structure-assistant-qualifications-delete' qualification.id %}"
                           class="link-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for assistant_qualification in assistant_added_qualifications_to_person %}
                <tr>
                    <td>{{ assistant_qualification.type }}</td>
                    <td class="text-end">     
                        <a href="{% url 'persons:detail' assistant_qualification.assistant_role.person.id %}" class="text-decoration-none">
                            {{ assistant_qualification.assistant_role.person }}                        
                        </a>
                    </td>
                </tr>
            {% endfor %}       
        {% else %}
        <tr>
            <td><a>{% trans 'No qualifications added yet.' %}</a></td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>