{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Other function/role of the practice' %}</th>
        {% with practice.engagements.all as engagements %}
            {% if engagements %}
                {% for engagement in engagements %}
                    <tr>
                        <td>{{ engagement.type }}</td>
                        <td class="text-end">
                            <a href="{% url 'practices:structure-engagement-delete' engagement.id %}"
                            class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No other function/role added yet.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>