{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Doctors' %}
            <a href="{% url 'practices:structure-doctors-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_doctors_that_are_owners" }}</td>
                <td class="text-end">{{ practice.structure_number_of_doctors_that_are_owners|default:0 }}</td>
            </tr>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_doctors_that_are_employees" }}</td>
                <td class="text-end">{{ practice.structure_number_of_doctors_that_are_employees|default:0 }}</td>
            </tr>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_doctors_that_are_in_training" }}</td>
                <td class="text-end">{{ practice.structure_number_of_doctors_that_are_in_training|default:0 }}</td>
            </tr>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_non_gp_doctors_that_are_in_the_practice" }}</td>
                <td class="text-end">{{ practice.structure_number_of_non_gp_doctors_that_are_in_the_practice|default:0 }}</td>
            </tr>
            <tr style="border-top:double;">
                <th>{% trans 'Doctors in total' %}</th>
                <td class="text-end">{{ practice.total_number_of_doctors }}</td>
            </tr>

            </tbody>
        </table>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ practice|verbose:"doctor_has_education_authorization" }}</th>
                <td class="text-end">{{ practice.get_doctor_has_education_authorization_display }}</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"structure_full_time_equivalent_for_doctors" }}</th>
                <td class="text-end">{{ practice.structure_full_time_equivalent_for_doctors|default:0 }}%</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"structure_non_gp_doctors_are_working_in_the_practice" }}</th>
                <td class="text-end">{{ practice.get_structure_non_gp_doctors_are_working_in_the_practice_display }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>