{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Practices offers the following services' %}</th>
        {% with practice.servicespracticeoffers_set.all as services %}
            {% if services %}
                {% for service in services %}
                    <tr>
                        <td>{{ service.service_name }}</td>
                        <td class="text-end">
                            <a href="{% url 'practices:practice-offers-delete' service.id %}"
                            class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No service added yet.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>