{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Range of services' %}
            <a href="{% url 'practices:structure-services-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ practice|verbose:"structure_gp_range_of_services" }}</th>
                <td class="text-end">{{ practice.get_structure_gp_range_of_services_display }}</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"services_home_visits" }}</th>
                <td class="text-end">{{ practice.get_services_home_visits_display }}</td>
            </tr>
            <tr>
                <th>{{ practice|verbose:"services_nursing_home_visits" }}</th>
                <td class="text-end">{{ practice.get_services_nursing_home_visits_display }}</td>
            </tr>
            <tr>
                {% include 'practices/practice_structure/services_offered.html' %}
            </tr>
            </tbody>
        </table>
    </div>
</div>

