{% load i18n %}
{% load fields_verbose_name %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Staff' %}
            <a href="{% url 'practices:structure-staff-edit' practice.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_employed_medical_assistants" }}</td>
                <td class="text-end">{{ practice.structure_number_of_employed_medical_assistants|default:0}}</td>
            </tr>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_employed_administrative_assistants" }}</td>
                <td class="text-end">{{ practice.structure_number_of_employed_administrative_assistants|default:0 }}</td>
            </tr>
            <tr>
                <td>{{ practice|verbose:"structure_number_of_medical_assistants_in_training" }}</td>
                <td class="text-end">{{ practice.structure_number_of_medical_assistants_in_training|default:0 }}</td>
            </tr>
            <tr style="border-top:double;">
                <th>{% trans 'Staff in total' %}</th>
                <td class="text-end">{{ practice.total_number_of_staff|default:0 }}</td>
            </tr>

            </tbody>

        </table>
        <table class="table table-sm table-hover">
            <tbody>

            <tr>
                <th>{{ practice|verbose:"structure_full_time_equivalent_for_assistants" }}</th>
                <td class="text-end">{{ practice.structure_full_time_equivalent_for_assistants|default:0 }}%</td>
            </tr>
            <tr>
                {% include 'practices/practice_structure/additional_qualifications.html' %}
            </tr>
            </tbody>
        </table>
    </div>
</div>