{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>
        <th>{% trans 'Treatments by age group per quarter' %}</th>
        {% with practice.practicetreatmentbyagegroupperquarter_set.all as treatments %}
            {% if treatments %}
                {% for treatment in treatments %}
                    <tr>
                        <td>{{ treatment.get_age_group_display }}: {{ treatment.amount_of_threatments }}</td>
                        <td class="text-end">
                            <a href="{% url 'practices:structure-treatment-by-age-delete' treatment.id %}"
                            class="link-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><a>{% trans 'No treatment added yet.' %}</a></td>
                <td></td>
            </tr>
            {% endif %}
        {% endwith %}
    </tbody>
</table>