{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{% trans 'Create a new Study' %}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
    </form>
{% endblock %}