{% load i18n %}

<div class="modal fade" id="{% block id %}{{model_id}}{% endblock %}" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block title %}{% trans 'Confirm operation' %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% block text %}{% trans 'Are you sure you want to continue?' %}{% endblock %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark me-2"></i>
                    {% block cancel_label %}{% trans 'Cancel' %}{% endblock %}
                </button>
                <a type="button" class="btn {% block confirm_classes %}btn-primary{% endblock %}" href="{{confirm_url}}">
                    {% block confirm_icon %}<i class="fa-solid fa-check me-2"></i>{% endblock %}
                    {% block confirm_label %}{% trans 'Confirm' %}{% endblock %}
                </a>
            </div>
        </div>
    </div>
</div>
