{% extends 'practices/practice_base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}


{% block page_content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Practice Notepad' %}
            </h3>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-sm h-100">
            <form method="post" autocomplete="off" style="height:85%">
                {% csrf_token %}
                <textarea name="notepad" class="textarea form-control" id="id_notepad"
                style="height: 90%; font-family: monospace;">{{ form.notepad.value }}</textarea>
                <br>
                <button type="submit" class="btn btn-primary float-end">{% trans 'Save' %} </button>
            </form>
        </div>
    </div>
{% endblock %}
