{% load safe_urlize %}
{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

<h2>{{ details.instance}}</h2>
<table class="table">
    <tbody>
        {% for field_name, value in details.context.items %}
        <tr>
            <th scope="row" class="col-3 py-2">{{ field_name }}</th>
            <td class="py-2">{{ value|safe_urlize|linebreaksbr }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if details.enable_deleting %}
<div>
    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{"confirmDeleteModal"|add:details.css_class}}">
        <i class="fa-solid fa-trash-can"></i>
        Löschen
    </a>
    <div class="me-auto"></div>
</div>

{% endif %}

