{% load filename %}
{% load i18n %}

<p>{% trans 'Filename' %}: <strong>{{ file | filename }}</strong> {% if order_row != True %}</p> 
<p>{% endif %}
    <a class="btn btn-outline-primary" href="{{ download_url }}">
        <i class="fa-solid fa-download"></i> {% trans 'Download file' %}
    </a>
    <a class="btn btn-outline-danger" data-bs-toggle="modal", data-bs-target="#confirmDeleteModal">
        <i class="fa fa-trash"></i> {% trans 'Delete file' %}
    </a>
</p>
{% include "global/modals/confirm_deletion.html" %}