{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' %}
{% endblock %}
{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br></br>
        {% include 'practices/base_data/practice_back_to_base_data.html' %}</br></br>
    </form>
{% endblock %}