{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' with additional_site="active" %}
{% endblock %}
{% block page_content %}
    {% if edit %}
        <h2>{% trans 'Edit Additional Site' %}</h2>
    {% else %}
        <h2>{% trans 'Create Additional Site' %}</h2>
    {% endif %}
        <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br></br>     
        {% include 'practices/base_data/practice_back_to_base_data.html' %}</br></br>     
    </form>
{% endblock %}