{% extends "global/modals/confirm_deletion.html" %}
{% load i18n %}

{% block text %}
<p class="alert alert-danger fw-bold">
{% trans 'ATTENTION: This action will permanently delete all data of your institute related to practices, people, events, studies, processes and more.' %}
</p>
<p class="px-2">
{% trans 'Are you sure you want to delete the data permanently? This operation cannot be undone.' %}
</p>
{% endblock text %}