{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block custom_css %}
{% endblock %}

{% block practice-content %}
    <h3 class="display-6">
        {% trans 'ToDos' %}
        <a href="{% url 'practices:create-todo' practice.id %}">
            <i class="fa fa-plus-circle"></i>
        </a>
    </h3>
    {% for todo in page_obj %}

        <table class="table table-sm table-borderless">
            <tbody>

            <tr class="table-primary">
                <td>
                    <span>
                        {% trans 'ToDo' %} #{{ todo.title }}
                    </span>
                    <span class="float-end">
                            {% trans 'Created at' %} {{ todo.created_at }} {% trans 'by' %} {{ todo.author }}
                            <a href="{% url 'todos:edit' todo.id %}" class="btn btn-sm btn-outline-primary">
                                <i class="fa fa-edit"></i> {% trans 'Edit' %}
                            </a>
                            <a href="{% url 'practices:todo-delete' todo.id %}"
                            class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i> {% trans 'Delete' %}
                            </a>
                    </span>
                </td>
            </tr>
            
            <tr>
                <td>
                    {% if todo.todostatus_set.count > 3 or todo.get_desciption_length > 1300 %}
                    <button class="btn btn-sm btn-outline-primary" role="button" type="button" data-bs-toggle="collapse"
                    href="#toogle-{{ todo.id }}" aria-expanded="false"
                    aria-controls="toogle-{{ todo.id }}">{% trans 'Show/Hide ToDo' %}</button>
                    <div class="collapse content" id="toogle-{{ todo.id }}">
                    <br>
                    {% else %}
                    <div>
                    {% endif %}
                        <div class="row">
                            <div class="col-sm-2">
                                <strong>{% trans 'Assigned to' %}</strong><br>   
                                {% for todoStatus in todo.todostatus_set.all %}
                                    {{ todoStatus.user }}{% include 'todos/status_indicator.html' %}
                                {% endfor %}
                            </div>
                            <div class="col-sm">
                                <strong>{% trans 'Description' %}</strong><br>
                                {{ todo.description|linebreaksbr }}
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    {% include 'global/snippets/pagination.html' %}
{% endblock %}
