{% extends 'practices/practice_base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block custom_css %}
{% endblock %}

{% block practice-content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Persons' %}
                <a href="{% url 'practices:person-add' practice.id %}" id="id_add_person_button">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">

            {% include "global/snippets/number_of_table_entries.html" %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}
