{% load i18n %}


<div class="row">
    <div class="col-sm">
        <h3 class="display-7">{% trans 'Assistant Detail' %}</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                {% include 'persons/assistant_vocational_training.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/assistant_qualification.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/assistant_research_experiences.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                {% include 'persons/research_trainings.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/fopranet_trainings.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/study_trainings.html' %}
            </div>
        </div>
    </div>
</div>
