{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Vocational Training' %}
            <a href="{% url 'persons:assistant-vocational-training-edit' assistant.id %}">
                <i class="fa fa-edit"></i>
            </a>
        </h5>
        {{ assistant.vocational_training_type }}
    </div>
</div>