{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Additional Qualifications' %}
            <a href="{% url 'persons:assistant-qualification-add' assistant.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>

        {% with assistant.additional_qualifications.all as qualifications %}
            {% if qualifications %}
                <table class="table table-sm table-hover">
                    <tbody>
                    {% for q in qualifications %}
                        <tr>
                            <td>{{ q.type }}</td>
                            <td>{{ q.get_status_display }}</td>
                            <td class="text-end">
                                <a href="{% url 'persons:assistant-qualification-edit' q.id %}"
                                   class="text-decoration-none">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'persons:assistant-qualification-delete' q.id %}" class="link-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {% trans 'No additional qualifications' %}
            {% endif %}
        {% endwith %}


    </div>
</div>