{% load i18n %}


<div class="row">
    <div class="col-sm">
        <h3 class="display-7">{% trans 'Doctor Detail' %}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                {% include 'persons/doctor_info.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/doctor_specialties.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/doctor_additional_training.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/doctor_research_experiences.html' %}
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                {% include 'persons/research_trainings.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/fopranet_trainings.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm">
                {% include 'persons/study_trainings.html' %}
            </div>
        </div>
    </div>
</div>
