{% extends 'persons/research_experience_base.html' %}
{% load i18n %}
{% load fields_verbose_name %}

{% block role_specific_block %}
<div class="mt-2">
    <table class="table table-sm table-hover">
        <tbody>
        <tr> 
            <th>{{ doctor|verbose:"research_experience_year_of_last_project_participation" }}</th>
            <td class="text-end">
                {% if doctor.research_experience_year_of_last_project_participation %}
                    {{ doctor.research_experience_year_of_last_project_participation }}
                {% endif %}
                <a href="{% url 'persons:doctor-research-experience-last-year-edit' doctor.id %}">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}