{% load i18n %}
{% load fields_verbose_name %}


<div class="card">
    <div class="card-body">
    <h5 class="card-title">General 
        <a href="{% url 'persons:doctor-general-info-edit' doctor.id %}">
            <i class="fa fa-edit"></i>
        </a>
    </h5>
        <table class="table table-sm table-hover">
            <tbody>
            <tr>
                <th>{{ doctor|verbose:"lanr" }}</th>
                <td class="text-end">
                    {{ doctor.lanr }}
                </td>
            </tr>
            <tr>
                <th>{{ doctor|verbose:"year_of_licensure" }}</th>
                <td class="text-end">
                    {{ doctor.year_of_licensure|default:"" }}
                </td>
            </tr>
            <tr>
                <th>{{ doctor|verbose:"attended_research_training" }}</th>
                <td class="text-end">
                    {{ doctor.get_attended_research_training_display }}
                </td>
            </tr>
            <tr>
                <th>{{ doctor|verbose:"efn" }}</th>
                <td class="text-end">
                    {{ doctor.efn }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>