{% extends 'global/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_tables2 crispy_forms_tags %}

{% block custom_css %}
    {% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block side_bar %}
{% endblock %}

{% block page_content %}
    <div class="col-sm mb-3">

        <h3 class="display-6">
            {% trans 'Persons' %}
            <a href="{% url 'persons:new' %}" id="id_add_person_button">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm mb-3">
            <form hx-get="{% url 'persons:person_table' %}" hx-target="#person_table">
                {% crispy filter.form filter.form.helper %}
            </form>
            <div id="person_table">
                <div>
                    {% include "global/snippets/number_of_table_entries.html" %}
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

