{% extends 'global/base.html' %}
{% load fields_verbose_name %}
{% load i18n %}
{% load truncate %}

{% block page_content %}
    <div class="row">
        <div class="col-sm">
            <h3 class="display-5">
                {{ person.full_name_with_title | truncatemultiline:40 }}
            </h3>
        </div>

        {% block additonal_header %}
        {% endblock %}
    </div>
    <div class="row">
        <div class="col-sm">

            <h3 class="display-7">
                {% trans 'Person Detail' %}
                <a id="id_edit_person_button" href="{% url 'persons:edit' person.id %}">
                    <i class="fa fa-edit"></i>
                </a>
            </h3>

            <table class="table table-sm table-hover">
                <tbody>
                <tr>
                    <th>{{ person|verbose:"title" }}</th>
                    <td>
                        {{ person.title|default:"-" }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <td>
                        {{ person.full_name }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans 'Former name' %}</th>
                    <td>
                        {{ person.former_name|default:"-" }}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"year_of_birth" }}</th>
                    <td>
                        {% if person.year_of_birth %}
                            {{ person.year_of_birth }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"gender" }}</th>
                    <td>
                        {% if person.gender %}
                            {{ person.get_gender_display }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"phone" }}</th>
                    <td>
                        {% if person.phone %}{{ person.phone }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ person|verbose:"contact_times" }}
                            <a href="{% url 'persons:edit-contact-times' person.id %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </th>
                    <td>
                        {% with person.contact_times_ordered as contact_timeslots %}
                            {% include 'contacttimes/_contacttimes_table.html' %}
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"email" }}</th>
                    <td>
                        {% if person.email %}
                            {{ person.email|urlize }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"work_relationship_type" }}</th>
                    <td>
                        {{ person.work_relationship_type }}
                    </td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"estimated_weekly_working_hours" }}</th>
                    <td>
                        {{ person.get_estimated_weekly_working_hours_display }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans 'Contractual weekly working hours' %}</th>
                    <td>{{ person.weekly_working_hours }}h</td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"starting_year_in_gp_care" }}</th>
                    <td>{{ person.starting_year_in_gp_care |default:"" }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Person ID given by the institute' %}</th>
                    <td>{{ person.import_id|default:"-" }}</td>
                </tr>
                <tr>
                    <th>{{ person|verbose:"questionnaire_date" }}</th>
                    <td>{{ person.questionnaire_date|date:"d.m.Y" }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% block role_content %}
    {% endblock %}
{% endblock %}

{% block side_bar_right %}

    <a {% include 'global/buttons/sidebar_controls/delete_classes.html' %}
            id="id_delete_person_button"
            href="{% url 'persons:delete' person.id %}">
        {% trans 'Delete Person' %}
    </a>
    {% block additional_side_bar_right %}
    {% endblock %}
{% endblock %}
