{% load i18n %}
{% load fields_verbose_name %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Certified Research Trainings' %}
            <a href="{% url 'persons:research-trainings-add' person.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>

        {% with person.research_trainings.all as trainings %}
            {% if trainings %}
                <table class="table table-sm table-hover">
                    <tbody>
                    {% for training in trainings %}
                        <tr>
                            <td>{{ training.type }}</td>
                            <td class="text-end">
                                <a href="{% url 'persons:research-trainings-edit' training.id %}"
                                   class="text-decoration-none">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{% url 'persons:research-trainings-delete' training.id %}"
                                   class="link-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {% trans 'No research trainings' %}
            {% endif %}
        {% endwith %}

    </div>
</div>