{% load i18n %}
{% load fields_verbose_name %}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% trans 'Study-specific Trainings' %}
            <a href="{% url 'persons:study-specific-trainings-add' person.id %}">
                <i class="fa fa-plus-circle"></i>
            </a>
        </h5>

        {% with person.study_specific_trainings.all as trainings %}
            {% if trainings %}
                <table class="table table-sm table-hover">
                    <tbody>
                    {% for training in trainings %}
                        <tr>
                            <td><i class="fa fa-check text-primary"></i> {{ training.type }}</td>
                            <td class="text-end">
                                <a href="{% url 'persons:study-specific-trainings-delete' training.id %}"
                                   class="link-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {% trans 'No Study-specific trainings available' %}
            {% endif %}
        {% endwith %}

    </div>
</div>