{% load i18n %}
{% load static %}
{% load changelog_notification %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient d-flex justify-content-end">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'landing-page' %}">
            <img class="shadow bg-body rounded border" src="{% static 'practices/img/app_logo.png' %}" height="50">
        </a>
        {% if request.user.is_authenticated %}
        <div class="navbar-text text-nowrap text-white">
            <a href="{% url 'changelogs:latest-changelog' %}" style="text-decoration:none;">
            <small>
                {% trans 'Version' %} {{ CURRENT_SOFTWARE_VERSION }}         
            </small>
                    {{ request.user | changelog_notification }}
                </a><br>
            <small>
                <strong>{{ LAST_SOFTWARE_UPDATE }}</strong>
            </small>
        </div>

        <!-- Main navbar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-4" id="navbarScroll">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a {% include 'global/snippets/navbar_item_normal.html' %}
                            href="{% url 'practices:list' %}">
                        <i class="fas fa-clinic-medical fa-fw"></i> {% trans 'Practices' %}</a>
                </li>
                <li class="nav-item">
                    <a {% include 'global/snippets/navbar_item_normal.html' %}
                            href="{% url 'persons:search' %}">
                        <i class="fas fa-users fa-fw"></i> {% trans 'Persons' %}</a>
                </li>
                <!-- Dropdown Organization -->
                <li class="btn-group mb-2">
                    <button type="button"
                            {% include 'global/snippets/navbar_item_group.html' %}
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {% if user.has_unseen_todo %}
                        <i class="fa-solid fa-bell fa-shake"></i>
                        {% else %}
                        <i class="fa-solid fa-clipboard"></i>
                        {% endif %}
                        {% trans 'Organization' %}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" {% include 'global/snippets/navbar_item_normal.html' %}
                                    href="{% url 'events:list' %}">
                                <i class="fas fa-calendar-day fa-fw"></i> {% trans 'Events' %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" {% include 'global/snippets/navbar_item_normal.html' %}
                                    href="{% url 'studies:list' %}">
                                <i class="fas fa-microscope fa-fw"></i> {% trans 'Studies' %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" 
                            href="{% url 'todos:list' %}">
                            {% if user.has_unseen_todo %}
                            <i class="fa-solid fa-bell fa-shake"></i>
                            {% else %}
                            <i class="fas fa-tasks fa-fw"></i>  
                            {% endif %}
                            {% trans 'ToDos' %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" {% include 'global/snippets/navbar_item_normal.html' %}
                                    href="{% url 'mail:emailtemplate-list' %}">
                                <i class="fa-regular fa-envelope"></i> {% trans 'Email' %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a {% include 'global/snippets/navbar_item_normal.html' %} href="{% url 'processes:definition-list' %}"> 
                        <i class="fas fa-cogs fa-fw"></i> {% trans 'Processes' %}
                    </a>
                </li>

                <!-- Dropdown Import/Export -->
                <li class="btn-group mb-2">
                    <button type="button"
                            {% include 'global/snippets/navbar_item_group.html' %}
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa-solid fa-rotate"></i> {% trans 'Import/Export' %}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                            href="{% url 'practice_importer:importer-overview' %}">{% trans 'Import' %}</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                            href="{% url 'exporter:index' %}">{% trans 'Export' %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="nav-item">
            <a {% include 'global/snippets/navbar_item_normal.html' %} href="{% url 'feedback:list' %}">
            {% if user.has_unseen_feedback %}
            <i class="fa-regular fa-envelope fa-beat"></i>
            {% else %}
            <i class="fa-regular fa-comment"></i>
            {% endif %}
            {% trans 'Feedback' %}</a>
        </div>
        
        <!-- Dropdown Userprofile -->
        <ul class="navbar-nav ml-auto">
            <li class="btn-group mb-2">
                        <button type="button"
                        {% include 'global/snippets/navbar_item_group.html' %}
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i>
                        {{ user.medical_title }} {{ user.first_name }} {{ user.last_name }}
                </button>
                <ul class="dropdown-menu text-muted">
                    <p class="px-2">
                        <small>
                            {% include 'global/snippets/user_institute_info.html' %}
                        </small>
                    </p>
                    <li>
                        <a class="dropdown-item"
                        href="{% url 'users:member-page' %}">{% trans 'Profile' %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                        href="{% url 'users:logout' %}">{% trans 'Logout' %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="nav-item">
            <a class="btn btn-outline-light" href="https://gitlab.com/artemis-reutlingen/praxisregister/-/wikis/Home">
                <i class="fa-regular fa-circle-question"></i>
            </a>
        </div>

        {% endif %}
    </div>
</nav>
