{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}


{% block page_content %}
    <h3 class="display-6">
        {% if form_title %}
        {{ form_title }}
        {% else %}
        {{ form.instance }}
        {% endif %}
    </h3>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}