{% load i18n %}

<table class="table table-sm table-hover">
    <tbody>

    {% for timeslot in contact_timeslots %}
        {% if timeslot.is_set %}
            <tr>
                <td>{{ timeslot.get_weekday_display }}</td>
                <td>
                    {{ timeslot.early_start|default_if_none:"-" }} - {{ timeslot.early_end|default_if_none:"-" }}
                </td>
                <td>
                    {{ timeslot.late_start|default_if_none:"-" }} - {{ timeslot.late_end|default_if_none:"-" }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>