{% load i18n %}

<ul class="nav flex-column w-100">
    
    
    {% url 'kbv_importer:config' as kbv_config %}
    {% url 'kbv_importer:check_for_existing_import' as check_import %}
    
    
    <div class="d-flex flex-column align-items-end">
        {% include 'practice_importer/back_to_overview.html'%}
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if kbv_config == request.path %} active {% endif %}" href="{{ kbv_config }}">
            <i class="fa-solid fa-user-doctor"></i> {% trans 'Configure kbv import' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-4 text-start {% if check_import in request.path %} active {% endif %}" href="{{ check_import }}">
            <i class="fa-solid fa-upload"></i> {% trans 'Import data' %}
        </a>
        
    </div>
</ul>
