{% extends 'global/base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block page_content %}
<h3 class="display-6">
    {% trans 'Events' %}
    <a type="button" href="{% url 'events:create_event' %}" id="id_new_event_button" title="{% trans 'Add Event' %}">
        <i class="fa fa-plus-circle"></i>
    </a>
</h3>
<h6>{% trans 'Filter functions:' %}</h6>
    <p>
        <button onclick="setActive(id)" id="filter_base_data_button" class="btn btn btn-outline-primary" type="button" data-bs-toggle="collapse" href="#filter_by_base_data" aria-expanded="false" aria-controls="filter_base_data">{% trans 'Base data' %}</button>
        <button onclick="setActive(id)" id="filter_date_button" class="btn btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter_by_date" aria-expanded="false" aria-controls="filter_accreditation">{% trans 'Date' %}</button>
    </p>
<div class="row">
    <div class="col-sm  mb-3">
        <form hx-get="{% url 'events:event_table' %}" hx-target="#event_table">
            {% crispy filter.form filter.form.helper %}
        </form>
        <div id="event_table">
            <div>
                {% include "global/snippets/number_of_table_entries.html" %}
                {% render_table table %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
    {% include 'global/js/set_active.html' %}
{% endblock %}