{% load i18n %}
{% load truncate %}
<nav class="navbar navbar-expand-lg navbar-light">

    <ul class="nav flex-column  w-100">
        <p class="navbar-text p-2 text-wrap bg-white text-dark border rounded border-dark shadow lh-1">
            {{ event | truncatemultiline:30 }}
        </p>
        <div>
            <a class="btn btn-outline-primary w-100 mb-2 text-start {{ details }}" href="{% url 'events:detail' event.id %}">
                <i class="fas fa-info-circle fa-fw"></i> {% trans 'Event Details' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-primary w-100 mb-2 text-start {{ participations }}" href="{% url 'events:participation-list' event.id %}">
                <i class="fas fa-info-circle fa-fw"></i> {% trans 'Event Participations' %}
            </a>
        </div>
        </br>
        <div>
            <a class="btn btn-outline-success w-100 mb-2 text-start {{ add_participations }}"
                href="{% url 'events:participation-persons-bulk-create' event.id %}">
                <i class="fa fa-plus-circle"></i> {% trans 'Add Participants' %}
            </a>
        </div>
        <div>
            <a class="btn btn-outline-success w-100 mb-2 text-start {{ add_practices }}"
                href="{% url 'events:participation-practice-bulk-create' event.id %}">
                <i class="fa fa-plus-circle"></i> {% trans 'Add practices' %}
            </a>
        </div>
    </ul>

</nav>