{% load i18n %}

<div class="modal fade" id="{% block modal_id %}bs-modal{% endblock %}" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% block modal_title %}{% trans 'Confirm' %}{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% block modal_text %}{% trans 'Are you sure you want to continue?' %}{% endblock %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% block cancel_label %}{% trans 'Cancel' %}{% endblock %}</button>
                <a type="button" onclick="showSpinner()" class="btn {% block confirm_classes %}btn-primary{% endblock %}" href="{% block confirm_url %}#{% endblock %}">{% block confirm_label %}{% trans 'Confirm' %}{% endblock %}</a>
                <div class="spinner-border visually-hidden" role="status" id="spinner">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
    </div>
</div>

<script>
function showSpinner(){
    document.getElementById("spinner").classList.remove("visually-hidden");
}
</script>