{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
{% if practice %}
{% include 'practice_importer/import-sidebar-left-practice.html' %}
{% else %}
{% include 'practice_importer/import-sidebar-left-person.html' %}
{% endif %}
{% endblock %}

{% block page_content %}
    <h2 id="id_form_header">{{ form.instance }}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}