{% extends 'global/base.html' %}
{% load i18n %}


{% block side_bar %}
{% include 'practice_importer/overview-sidebar-left.html' %}
{% endblock %}

{% block page_content %}
<h1>{% trans 'Import overview' %}</h1>
<h4>{% trans 'Default importer' %}</h4>
<p>{% blocktranslate %}You can find different import types in the menu on the left.
When you fill out the form for your import, you must match your data headers (e.g. in your excel file) to the names of the fields in the practice relation System. Fill in only the fields you want to import. If you need to import data that is not shown, please contact us.
After importing your file, you will see a preview of your data. If you are satisfied with the preview, you can confirm the import.
If there are any errors in the data preview, we recommend not confirming the import.{% endblocktranslate %} <br>
{% trans 'You can import data in the following formats' %}:</p>
<ul>
    <li>csv</li>
    <li>xls</li>
    <li>xlsx</li>
    <li>json</li>
</ul>
<p>{% trans 'Please note that the importer is still in beta. If you experience any problems, please contact us.' %}</p>
<h4>{% trans 'Import settings' %}</h4>
<p>{% trans 'Inside the settings you set global settings for all import types. For example if you want to ignore empty fields in your import file.' %}</p>
<h4>{% trans 'Model importer' %}</h4>
<p>{% blocktranslate %}The Model Importer is for advanced users. It allows you to import your data in a more flexible way. 
It allows you to import into any model of the practice management system.
It requires a good understanding of the practice management systems data model and therefore needs to be configured by an administrator.
{% endblocktranslate %}</p>
{% endblock %}