{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
{% include 'practice_importer/overview-sidebar-left.html' %}
{% endblock %}

{% block page_content %}
    <h2 id="id_form_header">{% trans 'Import settings'%}</h2>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}