{% load i18n %}

<ul class="nav flex-column w-100">
    
    {% url 'practice_importer:practice-config' as practice_config %}
    {% url 'practice_importer:import-practice' as detail_import %}

    <div class="d-flex flex-column align-items-end">
        {% include 'practice_importer/back_to_overview.html'%}
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if practice_config == request.path %} active {% endif %}" href="{{ practice_config }}">
            <i class="fas fa-house-medical fa-fw"></i> {% trans 'Configure practice import' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-4 text-start {% if detail_import == request.path %} active {% endif %}" href="{{ detail_import }}">
            <i class="fa-solid fa-upload"></i> {% trans 'Import data' %}
        </a>
    </div>
</ul>
