{% load i18n %}

<ul class="nav flex-column w-100">
    
    {% url 'practice_importer:person-config' as person_config %}
    {% url 'practice_importer:import-person' as detail_import %}

    <div class="d-flex flex-column align-items-end">
        {% include 'practice_importer/back_to_overview.html'%}
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if person_config == request.path %} active {% endif %}" href="{{ person_config }}">
            <i class="fas fa-user fa-fw"></i> {% trans 'Configure person import' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-4 text-start {% if detail_import == request.path %} active {% endif %}" href="{{ detail_import }}">
            <i class="fa-solid fa-upload"></i> {% trans 'Import data' %}
        </a>
    </div>
</ul>
