{% extends 'importer/tables/mapper_list.html' %}
{% load i18n %}

{% block bottom_content %}
<div class="mt-4">
    <hr>
    <h3 class="display-6">
        {% trans 'Configure mapper for Practice' %}
        <a href="{% url 'practice_importer:practice-config' %}" title="{% trans 'Create new Mapper' %}">
            <i class="fa fa-edit"></i>
        </a>
    </h3>
</div>
{% endblock %}