{% load i18n %}

<ul class="nav flex-column w-100">
    
    {% url 'practice_importer:check_for_existing_practice_import' as practice_import %}
    {% url 'practice_importer:check_for_existing_person_import' as person_import %}
    {% url 'kbv_importer:check_for_existing_import' as kbv_import %}
    {% url 'importer:import-preview' as model_import %}
    {% url 'importer:import-history' as import_history %}
    {% url 'importer:import-settings' as import_settings %}
    {% url "practice_importer:clear-data" as clear_data %}
    
    <div class="d-flex flex-column align-items-end">
        <a class="btn btn-outline-primary w-100 mt-2 text-start" href="{{ practice_import }}">
            <i class="fas fa-house-medical fa-fw"></i> {% trans 'Practice importer' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start" href="{{ person_import }}">
            <i class="fas fa-user fa-fw"></i> {% trans 'Person importer' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if 'kbv_import' in request.path %} active {% endif %}" href="{{ kbv_import }}">
            <i class="fa-solid fa-user-doctor"></i> {% trans 'KBV Import' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start" href="{{ model_import }}">
            <i class="fa-solid fa-database"></i> {% trans 'Model importer' %}
        </a>

        <a class="btn btn-outline-primary w-100 mt-4 text-start {% if 'settings' in request.path %} active {% endif %}" href="{{ import_settings }}">
            <i class="fa-solid fa-gear"></i> {% trans 'Settings' %}
        </a>
        <a class="btn btn-outline-primary w-100 mt-2 text-start {% if 'history' in request.path %} active {% endif %}" href="{{ import_history }}">
            <i class="fas fa-info-circle fa-fw"></i> {% trans 'Import history' %}
        </a>

        {% comment %} TODO: Replace "history" and URL stuff {% endcomment %}
        {% if "CLEAR_DATA" in actions %}
        <a class="btn btn-outline-danger w-100 mt-4 text-start {% if 'clear-data' in request.path %} active {% endif %}" data-bs-toggle="modal", data-bs-target="#confirmDeleteModal">
            <i class="fas fa-exclamation-circle fa-fw"></i> {% trans 'Clear database' %}
        </a>
        {% include "practice_importer/modals/clear_data.html" with confirm_url=clear_data %}
        {% endif %}
    </div>
</ul>
