{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% load i18n %}


{% block page_content %}
    <h2>{% trans 'Edit details for' %} {{ form.instance }}</h2>
    <form method="post" autocomplete="off" id="id_person_form">
        {% csrf_token %}
        {{ form.vocational_training_type|as_crispy_field }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}
