{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{% trans 'Edit role DOCTOR for' %} {{ form.instance.person.full_name_with_title }}</h2>
    <form method="post" autocomplete="off" id="id_doctor_qualification_form">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
    </form>
{% endblock %}
