{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{% trans 'Edit details for' %} {{ form.instance.full_name_with_title }}</h2>
    <form method="post" autocomplete="off" id="id_person_form">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}

{% block custom_script %}
    <!-- begin custom jquery script to enable/disable work_relationship_type_other text input based on dropdown value -->
    <!-- TODO: this code can be improved later, does the job for now -->
    <script>
        let id_work_relationship_type = "#id_work_relationship_type";
        let id_work_relationship_other = "#id_work_relationship_other";
        let id_person_form = "#id_person_form";

        // onchange logic
        $(function () {
            $(id_work_relationship_type).change(function () {
                if ($(this).val() === "OTHER") {
                    $(id_work_relationship_other).removeAttr("disabled");
                    $(id_work_relationship_other).attr("required", "required");
                    $(id_work_relationship_other).focus();
                } else {
                    $(id_work_relationship_other).val("");
                    $(id_work_relationship_other).attr("disabled", "disabled");
                    $(id_work_relationship_other).removeAttr("required");

                }
            });
        });

        // initial value logic
        $(document).ready(function () {
            if ($(id_work_relationship_type).val() === "OTHER") {
                $(id_work_relationship_other).attr("enabled", "enabled");
                $(id_work_relationship_other).attr("required", "required");
            } else {
                $(id_work_relationship_other).attr("disabled", "disabled");
                $(id_work_relationship_other).removeAttr("required");
            }
        });

        // submit logic, because disabled fields are not sent with POST otherwise, "other" value not set to blank then
        $(id_person_form).submit(function () {
            $(id_work_relationship_other).removeAttr('disabled');
        });
    </script>
    <!-- end custom jquery script to enable/disable work_relationship_type_other text input based on dropdown value -->
{% endblock %}