{% extends 'global/base.html' %}
{% load i18n %}

{% block page_content %}
    <h1>{% trans 'Export Data' %}</h1>
    <p>{% trans 'Export data to xls format' %}</p>
    <div class="mt-2"><a href="{% url 'exporter:practices' %}" class="btn btn-primary">{% trans 'Pratice base data' %}</a></div>
    <div class="mt-2"><a href="{% url 'exporter:practices-structure' %}" class="btn btn-primary">{% trans 'Pratice structural data' %}</a></div>
    <div class="mt-2"><a href="{% url 'exporter:persons' %}" class="btn btn-primary">{% trans 'Persons' %}</a></div>
{% endblock %}
