{% extends 'global/base.html' %}
{% load i18n %}
{% load django_tables2 crispy_forms_tags %}

{% block side_bar %}
    {% include 'events/navbar.html' %}
{% endblock %}
{% block page_content %}
<div class="col-sm mb-3">
    <h3 class="display-6">
        {% trans 'Create practice participations for' %} {{ event }}
    </h3>
</div>
<div class="row">
    <div class="col-sm mb-3">

        {% crispy filter.form filter.form.helper %}
        <form method="post" autocomplete="off" class="checkbox-list">
            {% csrf_token %}
            {% include "global/snippets/number_of_table_entries.html" %}
            {% include "global/js/checkbox_list.html" %}
            {% render_table table %}

            <a class="btn btn-primary" href="{% url 'events:participation-list' event.id %}">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Add' %} </button>
        </form>
    </div>
</div>
{% endblock %}