{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}


{% block page_content %}
    <h2>{% trans 'Edit event participant' %}</h2>
    <p>
        <strong>{% trans 'Event' %}:</strong> {{ form.instance.event_participation.event }}<br>
        {% if form.instance.event_participation.practice %}
        <strong>{% trans 'Practice' %}:</strong> {{ form.instance.event_participation.practice }}<br>
        {% endif %}
        <strong>{% trans 'Person' %}:</strong> {{ form.instance.person.full_name_with_title }}<br>
    </p>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary" id="id_generic_save_button">{% trans 'Save' %} </button>
    </form>
{% endblock %}