{% load crispy_forms_filters %}
{% load i18n %}

<div hx-target="this" hx-swap="outerHTML">
    <strong>{% trans 'Date' %}</strong>
    <p>{{ date.date }}: {{ date.start_time|time }} - {{ date.end_time|time }}</p>
    <button class="btn btn-primary" hx-get="{% url 'events:update-date' date.id %}">{% trans 'Edit' %}</button>
    <button class="btn btn-danger" hx-post="{% url 'events:delete-date' date.id %}">{% trans 'Delete' %}</button>
    <br><br>
</div>