{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
    <h2>{% trans 'Add dates to Event' %}</h2>
    <div id="dateforms"></div>
    {% for date in dates %}
        {% include 'events/forms/event_date_detail.html' %}
    {% endfor %}
        <div id="add_date_div">
        </div>
        <button class="btn btn-outline-primary" hx-get="{% url 'events:add-date' %}" hx-target="#add_date_div" hx-swap="beforeend"><i class="fa fa-plus-circle"></i> {% trans 'Add date' %}</button>
        <br><br>
        <a class="btn btn-primary" href="{% url 'events:edit' event_id %}">{% trans 'Edit event' %}</a>
        <a class="btn btn-primary" href="{% url 'events:list' %}">{% trans 'To the overview' %}</a>

{% endblock %}

{% block custom_script %}
{% include "global/snippets/htmx_post_script.html" %}
{% endblock %}