{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block page_content %}
    <h2>{{ form.instance }}</h2>
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'global/buttons/back_to_previous_site_button.html' %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
    </form>
{% endblock %}
