{% extends 'practices/practice_base.html' %}
{% load i18n %}


{% block practice-content %}

    <div class="row">
        <div class="col-sm">
            <h3 class="display-6">
                {% trans 'Communication' %}
            </h3>
            <div class="row">
                <div class="col-sm">
                    {% include 'practices/communication/languages/card_languages.html' %}
                </div>
                <div class="col-sm">
                    {% include 'practices/communication/with_colleagues/card_colleagues.html' %}
                    <div class="mt-2">
                    {% include 'practices/communication/with_patients/card_patients.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}