{% extends 'importer/import-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block custom_css %}
    <style>
        #table-container {
            overflow-x: auto; /* Enable horizontal scrolling */
            max-width: 100%; /* Ensure the container doesn't exceed the screen width */
        }
    </style>
{% endblock %}

{% block page_content %}
<h4 class="mt-4">{% trans 'Import data' %}</h4>
{% if confirm_form %}
    {% block confirm_import_form %}
      {% block confirm_import_form_head %}
      <form action="{% url 'importer:import' %}" method="POST">
      {% endblock %}
      {% csrf_token %}
      {{ confirm_form.as_p }}
      <p>
        {% trans "Below is a preview of data to be imported. If you are satisfied with the results, click 'Confirm import'" %}
      </p>
      <div class="submit-row">
        <button class="btn btn-primary" type="submit">{% trans 'Confirm import' %}</button>
      </div>
    </form>
    {% endblock %}
{% else %}
<form method="post" enctype="multipart/form-data">
   
    {% csrf_token %}
    {{ form | crispy }}
    
    <button class="btn btn-primary"  type="submit">Import</button>
  </form>
{% endif %}
{% if result %}
    {% if result.has_errors %}
    {% block errors %}
      <h2>{% trans "Errors" %}</h2>
      <ul>
        {% for error in result.base_errors  %}
        <li>
          {{ error.error }}
          <div class="traceback">{{ error.traceback|linebreaks }}</div>
        </li>
        {% endfor %}
        {% for line, errors in result.row_errors %}
          {% for error in errors %}
            <li>
              {% trans "Line number" %}: {{ line }} - {{ error.error }}
              <div><code>{{ error.row.values|join:", " }}</code></div>
              <div class="traceback">{{ error.traceback|linebreaks }}</div>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endblock %}

    {% elif result.has_validation_errors %}

    {% block validation_errors %}
      <h2>{% trans "Some rows failed to validate" %}</h2>

      <p>{% trans "Please correct these errors in your data where possible, then reupload it using the form above." %}</p>

      <table class="import-preview">
        <thead>
          <tr>
            <th>{% trans "Row" %}</th>
            <th>{% trans "Errors" %}</th>
            {% for field in result.diff_headers %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in result.invalid_rows %}
          <tr>
            <td>{{ row.number }} </td>
            <td class="errors">
              <span class="validation-error-count">{{ row.error_count }}</span>
              <div class="validation-error-container">
                <ul class="validation-error-list">
                  {% for field_name, error_list in row.field_specific_errors.items %}
                    <li>
                        <span class="validation-error-field-label">{{ field_name }}</span>
                        <ul>
                          {% for error in error_list %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                    </li>
                  {% endfor %}
                  {% if row.non_field_specific_errors %}
                    <li>
                      <span class="validation-error-field-label">{% trans "Non field specific" %}</span>
                      <ul>
                        {% for error in row.non_field_specific_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </td>
            {% for field in row.values %}
              <td>{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  
    {% else %}

      {% block preview %}
      <h2 class="mt-4">{% trans "Preview" %}</h2>
      <div id="table-container">
      <table class="table table-borded" id="preview-table">
        <thead>
          <tr>
            <th>{% trans 'Import' %}</th>
            <th>{% trans 'Action' %}</th>
            {% for field in result.diff_headers %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in result.valid_rows %}
          <tr class="{{ row.import_type }}">
            <td>
            <input type="checkbox" id="myCheckbox" name="myCheckbox">
            <label for="myCheckbox">{{ forloop.counter }}</label>
            </td>
            <td class="import-type">
              {% if row.import_type == 'new' %}
                {% trans "New" %}
              {% elif row.import_type == 'skip' %}
                {% trans "Skipped" %}
              {% elif row.import_type == 'delete' %}
                {% trans "Delete" %}
              {% elif row.import_type == 'update' %}
                {% trans "Update" %}
              {% endif %}
            </td>
            {% for field in row.diff %}
              <td>{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      </div>
      {% endblock %}

      {% endif %}
  {% endif %}

{% endblock %}
{% block custom_script %}
{% if confirm_form %}
{{ confirm_form.media }}
{% else %}
{{ form.media }}
{% endif %}
{% endblock %}
