{% extends 'importer/import-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block page_content %}
<h4 class="mt-4">{% trans 'Read header from file' %}</h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary"  type="submit">Import</button>
  </form>
{% endblock %}