{% extends 'importer/import-sidebar-left.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block custom_css %}
{% include 'global/snippets/custom_table_css.html' %}
{% endblock %}

{% block page_content %}

<h2 id="id_form_header">{{ form.instance}} {% trans 'of' %} {{ mapper.name }}</h2>
{% if table.rows|length  > 0 %}
    {% render_table table %}
{% endif %}
<div class="row">
    <div class="col-sm">
        <h4 class="mt-4">{% trans 'Add new fields from file' %}</h4>
        <form method="post" action="{% url 'importer:mapper-fields-import' mapper.id %}" enctype="multipart/form-data">
   
            {% csrf_token %}
            {{ import_form | crispy }}
            
            <button class="btn btn-success"  type="submit">{% trans 'Read field names from file' %}</button>
            <br>
            <a class="btn btn-primary mt-4" href="{% url 'importer:mapper-list'%}">{% trans 'Mapper list' %}</a>
        </form>
    </div>
    <div class="col-sm">
        <h4 class="mt-4">{% trans 'Add new field manually' %}</h4>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success" id="id_generic_save_button">{% trans 'Add' %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block custom_script %}
{{ import_form.media }}
{% endblock %}