{% extends 'global/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block side_bar %}
    {% include 'practices/practice_tabs.html' with contact_times="active" %}
{% endblock %}
{% block page_content %}
    <h2>{{ form.instance }} - {% trans 'Contact Times' %}</h2>
    <div class="border bg-light"><p class="m-2"><i class="fa-solid fa-circle-info text-primary"></i> {% trans 'This form is intended to document the possible contact hours of a practice. These may differ from the opening hours of a practice.' %}</p></div>
    <form method="post" autocomplete="off">
        {% csrf_token %}

        {{ management_form }}

        {% for timeslot, timeslot_form in timeslot_entries_and_formset %}

            {{ timeslot_form.id }}
            <strong>{{ timeslot.get_weekday_display }}</strong>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{% trans 'Early' %}</span>
                        {{ timeslot_form.early_start }}
                        {{ timeslot_form.early_end }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">{% trans 'Late' %}</span>
                        {{ timeslot_form.late_start }}
                        {{ timeslot_form.late_end }}
                    </div>
                </div>
            </div>

        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary" name='save' id="id_generic_save_button">{% trans 'Save' %} </button>
        <button type="submit" class="btn btn-primary" name='save_and_continue' id="id_generic_save_and_continue_button">{% trans 'Save and continue' %} </button></br></br>
        {% include 'practices/base_data/practice_back_to_base_data.html' %}</br></br>
    </form>
{% endblock %}
