{% extends "global/base.html" %}

{% load i18n static bootstrap5 %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static "jquery/ui/jquery-ui.theme.min.css" %}" type="text/css" media="screen">
{% endblock %}

{% block pre_script %}
    <script type="text/javascript" src="{% static "schedule.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/ui/jquery-ui.min.js" %}"></script>
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block page_content %}
    {% block body %}
    {% endblock %}
    <div id="footer">{% block footer %}{% endblock %}</div>
{% endblock %}
