{% extends "schedule/base.html" %}
{% load i18n crispy_forms_filters %}

{% block body %}
<b>{% trans "Create or change event. All fields are required." %}</b>
<br><br>
<form action="" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" name="cancel" value="Cancel" class="btn btn-primary">
  <input type="submit" value="{% trans "Save" %}" class="btn btn-primary">
</form>
{% endblock %}


{% block custom_script %}
<script>
//If a EventInfo is selected from the dropdown, add the EventInfo's name to the Event title field
$(document).ready(function() {
  $("#id_event_info").change(function() {
    var event_info = $(this).find("option:selected").text();
    if (event_info != "") {
      $("#id_title").val(event_info);
    }
  });
});
</script>
{% endblock %}